In [6]:
#주석은 프로그램에 영향을 전혀 주지않음
print('*' *20) #문자표시는 소따옴표를 사용
print('서원우' *2)
print('*' *20)

********************
서원우서원우
********************

In [8]:
#모드 - 에디트 모드, 컨트롤 모드
#에디트 모드 - 프로그램 작성 편집모드라고 한다.
# 컨트롤 모드 - 셀간 이동이나 단축키 적용을 위한, 제어모드
# 단축키 -
# b: 아래에 빈셀을 추가
# a: 위에 빈셀을 추가
# c: 셀 복사
# v: 셀 붙여넣기
# dd: 셀 삭제
# x: 셀 삭제
# z: 되돌리기
# m: 마크다운 모드
# y: 코드모드
# ctrl + enter: 그냥실행
# shift + enter: 아래셀로 이동(셀이 없을경우 생성)
# alt + enter: 아래셀 추가 및 이동

In [10]:
# Code - 코드 편집(작성)을 위한 모드
# Markdown - 문서 편집을 위한 모드

In [ ]:
# 동해물과 백두산이 
## 마르고 닳도록
### 하느님이 보우하사 우리나라 만세
#### 무궁화 삼천리 화려강산
##### 대한사람 대한으로 길이 보전하세.
- 과대 : 이충민
- 총무 : 박재영

1.김규민 - 2002  
2.김규민 - 2005  
메카트로닉스과  
화이팅

In [16]:
# 2장 - 변수와 연산자

In [22]:
# 파이썬의 기본 자료형
# 4가지 : int, float, bool, str.
n = 10 # 정수 (양, 0, 음), integer
n = '서원우' # 문자 (문자열) '', 이때 "" 상관없음. str
n= 3.14 # 실수 (부동소수점) float
n = False # 불형 (True / False), bool
# 리스트, 딕셔너리, 튜플, set

In [24]:
x = 3.14
print (x)

3.14

In [26]:
name = '서원우'
age = 24
sex = 'man'
town = '남해'
print ('이름', ':', name, ',', '나이', ':', age)

이름 : 서원우 , 나이 : 24

In [28]:
a = 1
num = 1
num1 = 100
num2 = 90
num3 = 80

In [30]:
# 변수 이름(변수명)을 정하는 규칙
# 1. 변수에 할당되는 데이터의 의미에 맞도록 만들자.
# 2. 변수명을 만들때, 영어, 숫자, 특수문자, 사용가능
# 3. 변수의 맨 앞에는 숫자가 올 수 없다. (num3 (o), 3num (x) )
# 4. 특수문자는 오로지 _(언더바)만 사용이 가능하다.
# !@#$%^ (x) _ (o)
# 5. 대소문자는 구별된다.
# 6. 띄어쓰기는 허용하지 않는다 (manage) (x), (man_age) (o)
#     man_age (스네이크 형식) manAge (카멜 형식) ManAge(파스칼 형식)
# 7. 예약어는 사용할 수 없다.
# print, for, if, while, else, def, false, true, int

In [32]:
name = '서원우'
age = 24
print (name,     age)

서원우 24

In [34]:
# type() : 변수의 타입을 확인할 때 사용.

In [36]:
name = '서원우'
age = 24
sex = 'man'
town = '남해'
pi = 3.14
con = False
print ('이름', ':', name, ',', '나이', ':', age)

type (con)

이름 : 서원우 , 나이 : 24

bool

In [38]:
# 연산자 (operator)
# 대입(할당)연산자

# num = num4 (복합할당연산자)
# num = num +1 <=> num += 1
# num = num -2 <=> num -= 2
# num = num *3 <=> num *= 3
# num = num /4 <=> num /= 4

num = 3
print(5//3) # 몫 1
print(5%3) # 나머지 2
print(15%3) 
print(2**16) # 2**16 = 65536, 2**10 = 1024, 2**8 = 256
print(2**(1/2))
#비교연산자

#논리연산자

1
2
0
65536
1.4142135623730951

In [40]:
age = 24
age += 1
print (age)

25

In [44]:
# 문제: 10,000원을 내면 150원짜리 사탕을 몇개 사고
# 또, 잔돈은 얼마가 남는가?

money = 10000
candy = 150

num = money//candy
change = money%candy

print('사탕은', num, '개 샀고 , ','잔돈은', change, '원이 남았다.')

사탕은 66 개 샀고 ,  잔돈은 100 원이 남았다.