In [3]:
# 1000원짜리 지폐를 500원으로, 100원짜리 동전으로 교환
money = 1000
won_500 = money // 500
won_100 = money // 100
won_50 = money // 50
print (won_500, won_100, won_50)

2 10 20

In [13]:
# 구입 가능한 사탕의 수
money = 18550
candy = 1300
# 사탕을 몇개 살 수 있고, 잔돈은 얼마인가?
candy1= money // candy
change = money % candy
print(candy1,'개', change,'원')
change_500 = change // 500
change_100 = (change % 500) // 100
change_50 = (change % 100) // 50
print(change_500,'원')
print(change_100,'원')
print(change_50,'원')

14 개 350 원
0 원
3 원
1 원

In [21]:
# 세 과목에 대한 성적을 각각 변수에 저장한 후 합계와 평균을 출력
kor,eng,mat = 100,90,80
sum = kor + eng + mat
avg = sum/3
print('합계:',sum,'점')
print('평균:',avg,'점')

합계: 270 점
평균: 90.0 점

In [23]:
n=384
d100= (n//100)
d10 = (n%100) // 10
d1 = n%10
print(d100,d10,d1)

3 8 4

In [31]:
time = 3750
h = time // (60*60)
m = time % (60*60) // 60
s = time % 60
print (h,'시간',m,'분',s,'초')

1 시간 2 분 30 초

In [33]:
ame = 2000
cafelatee = 3000
cafemoca = 4000
total= (ame*20)+(cafelatee*10)+(cafemoca*10)
mat_price = 100000
profit = total - mat_price
print('총 매출액:',total)
print('재료비:',mat_price)
print('순이익:',profit)

총 매출액: 110000
재료비: 100000
순이익: 10000

In [35]:
print('당신의 이름은 무엇입니까?')
name= input()
print('당신의 이름은:',name)

당신의 이름은 무엇입니까?

 서원우

당신의 이름은: 서원우

In [37]:
age = input('당신의 나이는 무엇입니까?')
print(age*3)
#input을 통해 입력받은 데이터는는 무조건 문자로 저장된다.

당신의 나이는 무엇입니까? 24

242424

In [39]:
n1 = input('첫번째 수를 입력하시오')
n2 = input('두번째 수를 입력하시오')
print('두 수의 합은:',n1+n2)

첫번째 수를 입력하시오 10
두번째 수를 입력하시오 20

두 수의 합은: 1020

In [41]:
n1 = int(input('첫번째 수를 입력하시오'))
n2 = int(input('두번째 수를 입력하시오'))
print('두 수의 합은:',n1+n2)

첫번째 수를 입력하시오 10
두번째 수를 입력하시오 20

두 수의 합은: 30

In [45]:
n1 = input('첫번째 수를 입력하시오')
n2 = input('두번째 수를 입력하시오')
print('두 수의 합은:',int(n1)+int(n2))

첫번째 수를 입력하시오 30
두번째 수를 입력하시오 60

두 수의 합은: 90

In [77]:
#'박재영은 25세이다'
print('박재영은',25,'세이다')
print('박재영은'+str(25)+'세이다')
print('박재영은'+'25'+'세이다')

박재영은 25 세이다
박재영은25세이다
박재영은25세이다

In [97]:
c=float(input('숫자 입력:'))
print(c*2)

숫자 입력: 12.215

24.43

In [129]:
name = input('당신의 이름을 입력:')
print('당신의 이름은'+name+'입니다')
print('당신의 이름은',name,'입니다')

당신의 이름을 입력: 서원우

당신의 이름은서원우입니다
당신의 이름은 서원우 입니다

In [127]:
name = input('당신의 이름을 입력:')
que=input('당신의 이름은'+name+'입니다')
if que == 'y'  or que == 'yes' :
        print('안녕하세요'+name+'님')
else :
    print('이름을 다시 입력해주세요:')

당신의 이름을 입력: 서원우
당신의 이름은서원우입니다 yes

안녕하세요서원우님

In [123]:
#format 연산자
print("{} + {} = {}".format(5,10,6+10))

5 + 10 = 16

In [125]:
print("{}는 {}세이고, 혈액형은 {}이다.".format('서원우',24,'ab'))

서원우는 24세이고, 혈액형은 ab이다.