In [1]:
# 리스트, 튜플
# 딕셔너리, 집합
# 연습문제, 도전문제

In [33]:
l1 = [1,2,3]
l1.insert(0,0)
l1

[0, 1, 2, 3]

In [35]:
l1.extend([4,5])
l1

[0, 1, 2, 3, 4, 5]

In [37]:
l1.extend([6,7])
l1

[0, 1, 2, 3, 4, 5, 6, 7]

In [39]:
l1.append(8)
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
l1.pop()

8

In [43]:
l1

[0, 1, 2, 3, 4, 5, 6, 7]

In [49]:
l1.remove(7)
l1

[0, 1, 2, 3, 4, 5]

In [51]:
l1.pop(0)

0

In [53]:
l1

[1, 2, 3, 4, 5]

In [55]:
l1.count(1)

1

In [57]:
l1.count(0)

0

In [59]:
l1.reverse()
l1

[5, 4, 3, 2, 1]

In [61]:
l1.sort()
l1

[1, 2, 3, 4, 5]

In [63]:
l2 = l1
l2.append(6)
l2

[1, 2, 3, 4, 5, 6]

In [65]:
l1

[1, 2, 3, 4, 5, 6]

In [67]:
l3 = l1.copy()
l3

[1, 2, 3, 4, 5, 6]

In [69]:
l1.index(1)

0

In [71]:
t1 = (1,2,3)
t1 *2

(1, 2, 3, 1, 2, 3)

In [73]:
t1 + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [75]:
t1

(1, 2, 3)

In [77]:
t1[0]

1

In [79]:
t1[0] = 3

TypeError: 'tuple' object does not support item assignment

In [87]:
# 딕셔너리 (dictionary) - dict(), {}
# key와 value로 쌍을 이룬다
d1 = {'충민':4344, '용빈':'0187'}
d1

{'충민': 4344, '용빈': '0187'}

In [89]:
d2 = {'love': '사랑', 'alchol': '참이슬', 'money':'돈', 'tech':'기술', 'believe in':'믿다'}
d2

{'love': '사랑', 'alchol': '참이슬', 'money': '돈', 'tech': '기술', 'believe in': '믿다'}

In [91]:
type(d2)

dict

In [93]:
len(d2)  # 쌍의 갯수

5

In [95]:
d2['love']   # 딕셔너리에서 값을 가져오려면 대괄호 사용, 중괄호는 딕셔너리를 생성할때만 사용

'사랑'

In [99]:
d2['money']

'돈'

In [101]:
d2['alchol'] = '좋은데이'
d2

{'love': '사랑',
 'alchol': '좋은데이',
 'money': '돈',
 'tech': '기술',
 'believe in': '믿다'}

In [105]:
d2['alchol']

'좋은데이'

In [107]:
# key, values, items, clear, pop, get
d2.keys()

dict_keys(['love', 'alchol', 'money', 'tech', 'believe in'])

In [113]:
l1 = d2.keys()
l2 = list(d2.keys())

In [117]:
print(l1)
print(l2)

dict_keys(['love', 'alchol', 'money', 'tech', 'believe in'])
['love', 'alchol', 'money', 'tech', 'believe in']

In [119]:
l2[0]

'love'

In [121]:
d2.values()

dict_values(['사랑', '좋은데이', '돈', '기술', '믿다'])

In [129]:
l3 = list(d2.values())
l3

['사랑', '좋은데이', '돈', '기술', '믿다']

In [131]:
l3[2]

'돈'

In [133]:
l4 = d2.values()
l4

dict_values(['사랑', '좋은데이', '돈', '기술', '믿다'])

In [137]:
l4[2]    # 인덱싱을 사용하기 위해서는 리스트로 변환해야 함.

TypeError: 'dict_values' object is not subscriptable

In [139]:
d2.items() #key와 value의 쌍을 튜플로 묶은 값을 반환

dict_items([('love', '사랑'), ('alchol', '좋은데이'), ('money', '돈'), ('tech', '기술'), ('believe in', '믿다')])

In [143]:
l5 = list(d2.items())
l5

[('love', '사랑'),
 ('alchol', '좋은데이'),
 ('money', '돈'),
 ('tech', '기술'),
 ('believe in', '믿다')]

In [145]:
l5[1]

('alchol', '좋은데이')

In [147]:
l6 = l5.copy()
l6[1] = '진로'
l6

[('love', '사랑'), '진로', ('money', '돈'), ('tech', '기술'), ('believe in', '믿다')]

In [149]:
l6['love']= '사아랑'    #리스트로 변환한뒤에는 인덱스를 사용해서 값을 변경해야함.
l6

TypeError: list indices must be integers or slices, not str

In [151]:
l6[0]

('love', '사랑')

In [153]:
l6.keys()  # 리스트로 변환한 뒤에는 key와 value가 아니라 하나의 튜플로 만들어짐

AttributeError: 'list' object has no attribute 'keys'

In [155]:
d2

{'love': '사랑',
 'alchol': '좋은데이',
 'money': '돈',
 'tech': '기술',
 'believe in': '믿다'}

In [157]:
d2.pop() # 리스트의 pop은 마지막 요소를 제거하지만, 딕셔너리에서는 제거할 키를 꼭 지정해야함.

TypeError: pop expected at least 1 argument, got 0

In [159]:
d2.pop('alchol') # key와 value 한 쌍을 제거

'좋은데이'

In [161]:
d2

{'love': '사랑', 'money': '돈', 'tech': '기술', 'believe in': '믿다'}

In [163]:
d2.pop('사랑') # value 값을 넣으면 에러 -> key값으로만 사용가능

KeyError: '사랑'

In [165]:
d2['love']

'사랑'

In [167]:
d2['healthy'] #없는 키 값을 입력하면 에러  -> KeyError

KeyError: 'healthy'

In [169]:
d2['healthy'] = '건강'
d2

{'love': '사랑', 'money': '돈', 'tech': '기술', 'believe in': '믿다', 'healthy': '건강'}

In [171]:
d2['family':'가족'] # 파이썬에서 슬라이스로 인식하여 에러발생.

KeyError: slice('family', '가족', None)

In [173]:
d2{'family':'가족'} # 딕셔너리를 조회하거나 수정할때는 반드시 대괄호, 
                    #중괄호는 딕셔너리를 만들때만 사용

SyntaxError: invalid syntax (449950660.py, line 1)

In [175]:
d2['family'] = '가족'
d2

{'love': '사랑',
 'money': '돈',
 'tech': '기술',
 'believe in': '믿다',
 'healthy': '건강',
 'family': '가족'}

In [177]:
print(3*4)
d2['mind']  # 없는 키값을 입력해서 오류발생
print(4*5)

12

KeyError: 'mind'

In [179]:
print(3*4)
d2.get('mind', 'no')
# get -> 올바른 키 값을 입력하면 밸류값이 나오고, 존재하지 않는 키값을 입력하면 '정해진값' 출력

12

'no'

In [181]:
d2.get('mind', '없음')  # -> 에러를 발생시키지 않고, 해당명령어가 실행되었는지 확인할 때 사용

'없음'

In [183]:
d2.clear()
d2

{}

In [185]:
l10 = [1,2,3,4,5]
l10.clear()
l10

[]

In [187]:
d2['man'] = '사람'
d2

{'man': '사람'}

In [189]:
d3 = []
d3

[]

In [191]:
d4 = dict()   # d = dict(love='사랑', tech='기술') 처럼 사용
d4

{}

In [193]:
d5 = {}  # d = dict()   <->  d = {}    같은동작
d5

{}

In [197]:
d4['key'] = 'value'
d4

{'key': 'value'}

In [199]:
d4('keys') = 'values'  # 딕셔너리가아닌 함수 호출로 인식하여 에러발생, 반드시 대괄호사용
d4

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1158367233.py, line 1)

In [201]:
type(d4)

dict

In [203]:
print(type(d4))

<class 'dict'>

In [205]:
# 집합
# set() - {10,20}

# 중복되지 않는다.
# 순서가 없다.

In [207]:
s = {10,20,30,20,10}
s

{10, 20, 30}

In [209]:
b = [1,2,3,4,2,3,4,6,7,8,4,6,6]
s1 = set(b)
s1  # 중복되지 않는다.

{1, 2, 3, 4, 6, 7, 8}

In [213]:
s1[0]  # 순서(index)가 없기 때문에 에러

TypeError: 'set' object is not subscriptable

In [225]:
a = {1,2,3,4,5}
b = {1,3,5,7,9}
# 교집합, 합집합, 차집합,     공집힙

a & b # 교집합

{1, 3, 5}

In [227]:
a | b  # 합집합

{1, 2, 3, 4, 5, 7, 9}

In [229]:
a - b  # 차집합

{2, 4}

In [231]:
b - a # 차집합

{7, 9}

In [233]:
a

{1, 2, 3, 4, 5}

In [235]:
type(a)

set

In [237]:
print(type(a))

<class 'set'>

In [239]:
# add, update,    remove,clear,      pop
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [241]:
a.add(0)
a    # 순서대로 들어가는 것처럼 보이지만 그렇지 않다.(랜덤)

{0, 1, 2, 3, 4, 5, 6}

In [243]:
a.update(7,8)  
a             # 7,8 은 정수라서 iterable이 아님
              #iterable: 한번에 한 개씩 값을 반환할 수 있는 데이터(객체)

TypeError: 'int' object is not iterable

In [245]:
a.update([7,8])
a

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [247]:
a.remove(8)
a

{0, 1, 2, 3, 4, 5, 6, 7}

In [249]:
a.pop()
a  # 랜덤하게제거,  잘 사용 안함

{1, 2, 3, 4, 5, 6, 7}

In [257]:
a1 = {1,4,6,7}
a1.pop()
a1

{4, 6, 7}

In [261]:
a1.pop(1)
a1       # pop(1) 은 set에서는 인덱스가 없기때문에 지정할수가 없음 
         # 특정값을 제거하려면 remove()사용

TypeError: set.pop() takes no arguments (1 given)

In [267]:
a.clear()
a

set()

In [269]:
a = list(range(1,6))  # 1부터 6-1 까지, 6-1개
a

[1, 2, 3, 4, 5]

In [271]:
a = list(range(6,20))  # 6부터 20-1까지, 20-6개
a

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [273]:
a = list(range(6))  # 0부터 6-1까지, 6개
a

[0, 1, 2, 3, 4, 5]

In [275]:
# 실습 5-1
color =['red','yellow']
color.append('green')
print(color)
color.pop()
print(color)
color.insert(1,'orange')
print(color)
print(color.index('orange'))
print(len(color))

['red', 'yellow', 'green']
['red', 'yellow']
['red', 'orange', 'yellow']
1
3

In [277]:
# 실습 5-2
score =list(range(1,6))
print(score)
print(score[2])
print(score[:3])
print(score[-1])
print(score[2:4])
print(score[3:])

[1, 2, 3, 4, 5]
3
[1, 2, 3]
5
[3, 4]
[4, 5]

In [279]:
# 실습 5-3
A={1,2,3}
B={3,4,5,5}
print(A | B)
print(A & B)
print(A - B)

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [283]:
# 도전 1-1
spot=['명동', '가로수길', '홍대', '대학로']
select = spot[2:]
select

['홍대', '대학로']

In [289]:
# 도전 1-2
num=[50,30,70,40]
num.sort()
num.remove(30)
# num.pop(0)
num

[40, 50, 70]

In [315]:
# 도전 1-3
people={100:'yang', 200:'jang', 300:'o'}
list(people.keys())

[100, 200, 300]

In [293]:
list(people.values())

['yang', 'jang', 'o']

In [295]:
list(people.items())

[(100, 'yang'), (200, 'jang'), (300, 'o')]

In [299]:
# people[200]
people.get(200)   # 이렇게 하는 것이 더 좋음

'jang'

In [311]:
people

{100: 'yang', 200: 'jang', 300: 'o'}

In [317]:
# del(people[100])  
people.pop(100) # 이렇게 하는 것이 일반적
people

{200: 'jang', 300: 'o'}

In [333]:
# 도전 2-2
addr={}

addr['최재원'] = '010-1111-1234'
addr['최지윤'] = '010-2222-1234'
addr['김연수'] = '010-3333-1234'
addr['김연우'] = '010-4444-1234'
addr['김가현'] = '010-5555-1234'
addr['김혜현'] = '010-6666-1234'

print(addr)
print()

list(addr.keys())
name = input('search name :')
addr.get(name, 'not Found')

{'최재원': '010-1111-1234', '최지윤': '010-2222-1234', '김연수': '010-3333-1234', '김연우': '010-4444-1234', '김가현': '010-5555-1234', '김혜현': '010-6666-1234'}

search name : 서원우

'not Found'

In [337]:
# 도전 2-3
clubA={'kim','park','hwang'}
clubB={'park','lee','choi'}

clubC= clubA | clubB
print(clubC)
print(clubA & clubB)
print(clubA - clubB)
print(clubB - clubA)
clubA.update(['yang'])
clubB.remove('lee')
print(clubA)
print(clubB)

{'hwang', 'lee', 'kim', 'choi', 'park'}
{'park'}
{'hwang', 'kim'}
{'choi', 'lee'}
{'hwang', 'yang', 'park', 'kim'}
{'choi', 'park'}