3*4

In [15]:
#주석은 프로그램에 영향을 전혀 주지않음.
print('*' *20) #문자표시는 소따옴표를 사용
print('서원우' *2)
print('*' *20)

********************
서원우서원우
********************

In [ ]:
#모드- 에드트 모드, 컨트롤 모드
#에디트 모드 - 프로그램 작성 편집모드라고 한다.
#컨트롤 모드 - 셀간 이동이나 단축키 적용을 위한, 제어모드
#단축키 - 
# b: 아래에 빈셀을 추가
# a: 위에 빈셀을 추가
# c: 셀 복사
# v: 셀 붙여넣기
# dd: 셀 삭제
# x: 셀 삭제
# z: 되돌리기
# m: 마크다운 모드
# y: 코드 모드
# ctrl + enter: 그냥실행
# shift + enter: 아레셀로 이동(셀이없을경우 생성)
# alt + enter: 아레셀 추가 및 이동

In [ ]:
# Code - 코드 편집(작성)을 위한 모드
# Markdown - 문서 편집을 위한 모드

# 동해물과 백두산이
## 마르고 닳도록
### 하느님이 보우하사 우리나라 만세
#### 무궁화 삼천리 화려강산 
##### 대한사람 대한으로 길이 보전하세.
- 과대 : 이충민
- 총무 : 박재영
1. 김규민 - 2002
2. 김규민 - 2005  
메카트로닉스과  
화이팅

# 2장 - 변수와 연산자

In [25]:
'서원우'*5

'서원우서원우서원우서원우서원우'

In [ ]:
# 파이썬의 기본 자료형
# 4가지 : int, float, bool, str.
n = 10 # 정수 ( 양, 0, 음), integer
n = 서원우 # 문자 (문자열) '', 이때 "" 상관없다. str
n = 3.14 # 실수 (부동소수점) float
n = False # 불형 (True / False), bool
# 리스트, 딕셔너리 , 튜플, set.

In [27]:
x = 3.14
print (x)

3.14

In [3]:
name = '서원우'
age = 24
sex = 'man'
town = '남해'

print ('이름',':',name,',', '나이',':',age)

이름 : 서원우 , 나이 : 24

In [ ]:
a = 1
num = 1
num1 = 100
num2 = 90
num3 = 80

In [ ]:
# 변수 이름(변수명)을 정하는 규칙
# 1. 변수에 할당되는 데이터의 의미에 맞도록 만들자.
# 2. 변수명을 만들때, 영어, 숫자, 특수문자 사용가능
# 3. 변수의 맨 앞에는 숫자가 올 수 없다. (num3 (o), 3num (x) )
# 4. 특수문자는 오로지 _(언더바)만 사용이 가능하다.
# !@#$%^ (x) _ (o)
# 5. 대소문자가 구별된다.
# 6. 띄어쓰기는 허용하지 않는다. (manage) (x), (man_age) (o)
        man_age, manAge, ManAge
# 7. 예약어는 사용할 수 없다. 
# print, for, if, while, else, def, False, True, int

In [37]:
name = '서원우'
age = 24
print (name,    age)

서원우 24

In [ ]:
# type() : 변수의 타입을 확인할 때 사용.

In [42]:
name = '서원우'
age = 24
sex = 'man'
town = '남해'
pi = 3.14
con = False
print ('이름',':',name,',', '나이',':',age)

type(con)

이름 : 서원우 , 나이 : 24

bool

In [7]:
# 연산자 (operator)
# 대입(할당)연산자

# num = num+4 (복합할당연산자)
# num = num +1 <=> num += 1
# num = num -2 <=> num -= 2
# num = num *3 <=> num *= 3
# num = num /4 <=> num /= 4

num = 3
print(9 / num) #  // 연산의 경우 항상 실수형으로 표시

# 산술연산자(숫자의 계산)
# +, -, *, /, %(나머지), //(몫), **(지수)

print(5//3) #// 몫 1
print(5%3) # % 나머지 2
print(15%3)
print(2**16) #2**16 =65536, 2**10 =1024, 2**8 =256
print(2**(1/2))
# 비교연산자

# 논리연산자

3.0
1
2
0
65536
1.4142135623730951

In [44]:
age = 24
age += 1
print (age)

25

In [2]:
# 문제: 10,000원 내면, 150 사탕을 몇개 사고,
#        또, 잔돈은 얼마가 남는가?
money = 10000
candy = 150
# 몫
num = money // candy
# 나머지
change = money % candy
print ("사탕은", num,"개 살 수 있고 ", change, "원이 남는다")

사탕은 66 개 살 수 있고  100 원이 남는다

In [4]:
#03-24

In [6]:
# 1000원짜리 지폐를 500원으로, 100원짜리 동전으로 교환
money = 1000
won_500 = money//500
won_100 = money//100
won_50 = money//50
print('500원', won_500, '개')
print('100원', won_100, '개')
print('50원', won_50, '개')

500원 2 개
100원 10 개
50원 20 개

In [8]:
# 구입 가능한 사탕의 수
money = 10000
candy = 150
# 사탕을 몇개 살 수 있고, 잔돈은 얼마인가?
candy_num = money // candy
change = money%candy
print('구매가능한 수:', candy_num, '개')
print('잔돈:', change, '원')

구매가능한 수: 66 개
잔돈: 100 원

In [14]:
n1 = 10

In [16]:
n1 += 1
n1

12

비교 연산자

In [20]:
# >
# <
# == (같다)
# >=
# <=
# != (같지않다)
# 6개의 연산자가 사용되고,
#연산의 결과는 참(True)과 거짓(false)으로 반환한다.

In [19]:
5 > 3

True

### 논리연산자

In [27]:
# 논리연산의 결과는 True 또는 False으로 나온다.
# and ex) 비교연산식 and 비교연산식  (5 > 3) and (7 > 2)
# or      비교연산식 or 비교연산식   (5 > 3) or (7 > 2)
# not     not 비교연산식    not 5 > 3

# and
# True and True -> True
# True and False -> False
# False and False -> False
# False and True -> False

# or
# True or True -> True
# True or False -> True
# False or False -> False
# False or True -> True

# not
# not True -> False
# not False -> True

In [28]:
not 5 > 3

False

# 문자열 연산자

In [41]:
' 이충민 ' + ' 과대 ' +'30세'

' 이충민  과대 30세'

In [42]:
' 이충민 ' *2

' 이충민  이충민 '

In [50]:
money1 = 2900  # 투입한 돈
price = 1000   # 물건 값

change1 = money1 % price  # 잔돈
print('잔돈: ', change1 , '원')

won_1 = change1 // 500
won_2 = change1 % 500
won_3 = won_2 // 100
print('500원:', won_1, '개')
print('100원:', won_3, '개')

잔돈:  900 원
500원: 1 개
100원: 4 개

In [58]:
# 세 과목에 대한 성적을 각각 변수에 저장한 후 합계와 평균을 출력
kor,eng,math=100,75,80

kor,eng,math
sum = kor+eng+math
avg = sum/3 
print('합은:',sum, ' 평균은:', avg)

합은: 255  평균은: 85.0

In [60]:
# 학년이 1학년이고, 평균 취득 학점이 4.5 이상을 만족하는 조건식
# year == 1 and score >= 4.5

In [ ]:
addr == '서울' or addr == '경기도'
toeic >= 800 or com =='A학점'

In [66]:
n = 384
# d100 = n // 100
# n = n % 100 
# d10 = n // 10
# n = n % 10
# d1 = n // 1
# n = n % 1

d100 = n //100
d10 = (n % 100) // 10
d1 = n % 10
print(d100, d10, d1)

3 8 4

In [74]:
time = 3750
minute = time // 60
second = time % 60

hour = minute // 60
minute = minute % 60
print(hour, 'h', minute,'m', second,'s')

1 h 2 m 30 s

In [105]:
time = 3700
hour = time // (60 * 60)
minute = time % (60*60) // 60
second = time % 60
second
print(hour,minute,second)

TypeError: 'str' object is not callable

In [84]:
ame = 2000
cafelatee = 3000
cafemoca = 4000
total = (ame*20) +(cafelatee*10)+(cafemoca*10)
mat_price = 100000
profit= total - mat_price
print('총 매출액:',total, '원')
print('순이익:',profit, '원')

총 매출액: 110000 원
순이익: 10000 원

### 3장 입력과 출력

In [104]:
print('당신의 이름은 무엇입니까?')
neme = input()
print('이름:',name)

TypeError: 'str' object is not callable

In [88]:
print('당신의 혈액형은 무엇입니까?')
b_type = input()
print(b_type)

당신의 혈액형은 무엇입니까?
ab
ab

In [89]:
name = input('당신의 이름은 무엇입니까?')
print =(name*3)

당신의 이름은 무엇입니까?서원우

In [3]:
age = input('당신은 몇살 입니까?')
print(age*2)
#input()을 통해 입력받은 데이터는 무조건 문자로 저장된다.

당신은 몇살 입니까?20
2020

In [2]:
n1 = input('첫번째 수를 입력하시오')
n2 = input('두번째 수를 입력하시오')
print('두 수의 합은', int(n1)+int(n2))

첫번째 수를 입력하시오10
두번째 수를 입력하시오20
두 수의 합은 30

In [6]:
n1 = int(input('첫번째 수를 입력하시오'))
n2 = int(input('두번째 수를 입력하시오'))
print('두 수의 합은',n1+n2)

첫번째 수를 입력하시오10
두번째 수를 입력하시오20
두 수의 합은 30

In [1]:
#'박재영은 25세이다'
print('박재영은',25,'세이다')
print('박재영은'+str(25)+'세이다')

박재영은 25 세이다
박재영은25세이다

In [7]:
c=float(input())

3.4

In [10]:
name =  input('이름 입력: ')
print("당신의 이름은 "+ name+ '입니다')
print("당신의 이름은 ", name, '입니다')

이름 입력: 서원우
당신의 이름은 서원우입니다
당신의 이름은  서원우 입니다

In [14]:
name =  input('이름 입력: ')
que = input("당신의 이름은 "+ name+ '입니다')
if que == 'y' or que == 'y' or que == 'yes' or que == 'yes':
    print("안녕하세요 "+name+'님')
else :
    print("이름을 다시 입력하세요")

이름 입력: 서원우
당신의 이름은 서원우입니다yes
안녕하세요 서원우님

In [17]:
#format 연산자
print("{} + {} = {}".format(5,10,5+10))

5 + 10 = 15

In [20]:
print("{}는  {}세이고, 혈액형은 {}이다.".format('서원우',24,'ab'))

서원우는  24세이고, 혈액형은 ab이다.