3*4

In [15]:
#주석은 프로그램에 영향을 전혀 주지않음.
print('*' *20) #문자표시는 소따옴표를 사용
print('서원우' *2)
print('*' *20)

********************
서원우서원우
********************

In [ ]:
#모드- 에드트 모드, 컨트롤 모드
#에디트 모드 - 프로그램 작성 편집모드라고 한다.
#컨트롤 모드 - 셀간 이동이나 단축키 적용을 위한, 제어모드
#단축키 - 
# b: 아래에 빈셀을 추가
# a: 위에 빈셀을 추가
# c: 셀 복사
# v: 셀 붙여넣기
# dd: 셀 삭제
# x: 셀 삭제
# z: 되돌리기
# m: 마크다운 모드
# y: 코드 모드
# ctrl + enter: 그냥실행
# shift + enter: 아레셀로 이동(셀이없을경우 생성)
# alt + enter: 아레셀 추가 및 이동

In [ ]:
# Code - 코드 편집(작성)을 위한 모드
# Markdown - 문서 편집을 위한 모드

# 동해물과 백두산이
## 마르고 닳도록
### 하느님이 보우하사 우리나라 만세
#### 무궁화 삼천리 화려강산 
##### 대한사람 대한으로 길이 보전하세.
- 과대 : 이충민
- 총무 : 박재영
1. 김규민 - 2002
2. 김규민 - 2005  
메카트로닉스과  
화이팅

# 2장 - 변수와 연산자

In [25]:
'서원우'*5

'서원우서원우서원우서원우서원우'

In [ ]:
# 파이썬의 기본 자료형
# 4가지 : int, float, bool, str.
n = 10 # 정수 ( 양, 0, 음), integer
n = 서원우 # 문자 (문자열) '', 이때 "" 상관없다. str
n = 3.14 # 실수 (부동소수점) float
n = False # 불형 (True / False), bool
# 리스트, 딕셔너리 , 튜플, set.

In [27]:
x = 3.14
print (x)

3.14

In [3]:
name = '서원우'
age = 24
sex = 'man'
town = '남해'

print ('이름',':',name,',', '나이',':',age)

이름 : 서원우 , 나이 : 24

In [ ]:
a = 1
num = 1
num1 = 100
num2 = 90
num3 = 80

In [ ]:
# 변수 이름(변수명)을 정하는 규칙
# 1. 변수에 할당되는 데이터의 의미에 맞도록 만들자.
# 2. 변수명을 만들때, 영어, 숫자, 특수문자 사용가능
# 3. 변수의 맨 앞에는 숫자가 올 수 없다. (num3 (o), 3num (x) )
# 4. 특수문자는 오로지 _(언더바)만 사용이 가능하다.
# !@#$%^ (x) _ (o)
# 5. 대소문자가 구별된다.
# 6. 띄어쓰기는 허용하지 않는다. (manage) (x), (man_age) (o)
        man_age, manAge, ManAge
# 7. 예약어는 사용할 수 없다. 
# print, for, if, while, else, def, False, True, int

In [37]:
name = '서원우'
age = 24
print (name,    age)

서원우 24

In [ ]:
# type() : 변수의 타입을 확인할 때 사용.

In [42]:
name = '서원우'
age = 24
sex = 'man'
town = '남해'
pi = 3.14
con = False
print ('이름',':',name,',', '나이',':',age)

type(con)

이름 : 서원우 , 나이 : 24

bool

In [7]:
# 연산자 (operator)
# 대입(할당)연산자

# num = num+4 (복합할당연산자)
# num = num +1 <=> num += 1
# num = num -2 <=> num -= 2
# num = num *3 <=> num *= 3
# num = num /4 <=> num /= 4

num = 3
print(9 / num) #  // 연산의 경우 항상 실수형으로 표시

# 산술연산자(숫자의 계산)
# +, -, *, /, %(나머지), //(몫), **(지수)

print(5//3) #// 몫 1
print(5%3) # % 나머지 2
print(15%3)
print(2**16) #2**16 =65536, 2**10 =1024, 2**8 =256
print(2**(1/2))
# 비교연산자

# 논리연산자

3.0
1
2
0
65536
1.4142135623730951

In [44]:
age = 24
age += 1
print (age)

25

In [2]:
# 문제: 10,000원 내면, 150 사탕을 몇개 사고,
#        또, 잔돈은 얼마가 남는가?
money = 10000
candy = 150
# 몫
num = money // candy
# 나머지
change = money % candy
print ("사탕은", num,"개 살 수 있고 ", change, "원이 남는다")

사탕은 66 개 살 수 있고  100 원이 남는다

In [4]:
#03-24

In [6]:
# 1000원짜리 지폐를 500원으로, 100원짜리 동전으로 교환
money = 1000
won_500 = money//500
won_100 = money//100
won_50 = money//50
print('500원', won_500, '개')
print('100원', won_100, '개')
print('50원', won_50, '개')

500원 2 개
100원 10 개
50원 20 개

In [8]:
# 구입 가능한 사탕의 수
money = 10000
candy = 150
# 사탕을 몇개 살 수 있고, 잔돈은 얼마인가?
candy_num = money // candy
change = money%candy
print('구매가능한 수:', candy_num, '개')
print('잔돈:', change, '원')

구매가능한 수: 66 개
잔돈: 100 원

In [14]:
n1 = 10

In [16]:
n1 += 1
n1

12

비교 연산자

In [20]:
# >
# <
# == (같다)
# >=
# <=
# != (같지않다)
# 6개의 연산자가 사용되고,
#연산의 결과는 참(True)과 거짓(false)으로 반환한다.

In [19]:
5 > 3

True

### 논리연산자

In [27]:
# 논리연산의 결과는 True 또는 False으로 나온다.
# and ex) 비교연산식 and 비교연산식  (5 > 3) and (7 > 2)
# or      비교연산식 or 비교연산식   (5 > 3) or (7 > 2)
# not     not 비교연산식    not 5 > 3

# and
# True and True -> True
# True and False -> False
# False and False -> False
# False and True -> False

# or
# True or True -> True
# True or False -> True
# False or False -> False
# False or True -> True

# not
# not True -> False
# not False -> True

In [28]:
not 5 > 3

False

# 문자열 연산자

In [41]:
' 이충민 ' + ' 과대 ' +'30세'

' 이충민  과대 30세'

In [42]:
' 이충민 ' *2

' 이충민  이충민 '

In [50]:
money1 = 2900  # 투입한 돈
price = 1000   # 물건 값

change1 = money1 % price  # 잔돈
print('잔돈: ', change1 , '원')

won_1 = change1 // 500
won_2 = change1 % 500
won_3 = won_2 // 100
print('500원:', won_1, '개')
print('100원:', won_3, '개')

잔돈:  900 원
500원: 1 개
100원: 4 개

In [58]:
# 세 과목에 대한 성적을 각각 변수에 저장한 후 합계와 평균을 출력
kor,eng,math=100,75,80

kor,eng,math
sum = kor+eng+math
avg = sum/3 
print('합은:',sum, ' 평균은:', avg)

합은: 255  평균은: 85.0

In [60]:
# 학년이 1학년이고, 평균 취득 학점이 4.5 이상을 만족하는 조건식
# year == 1 and score >= 4.5

In [ ]:
addr == '서울' or addr == '경기도'
toeic >= 800 or com =='A학점'

In [66]:
n = 384
# d100 = n // 100
# n = n % 100 
# d10 = n // 10
# n = n % 10
# d1 = n // 1
# n = n % 1

d100 = n //100
d10 = (n % 100) // 10
d1 = n % 10
print(d100, d10, d1)

3 8 4

In [74]:
time = 3750
minute = time // 60
second = time % 60

hour = minute // 60
minute = minute % 60
print(hour, 'h', minute,'m', second,'s')

1 h 2 m 30 s

In [3]:
time = 3700
hour = time // (60 * 60)
minute = time % (60*60) // 60
second = time % 60
second
print(hour,minute,second)

1 1 40

In [84]:
ame = 2000
cafelatee = 3000
cafemoca = 4000
total = (ame*20) +(cafelatee*10)+(cafemoca*10)
mat_price = 100000
profit= total - mat_price
print('총 매출액:',total, '원')
print('순이익:',profit, '원')

총 매출액: 110000 원
순이익: 10000 원

### 3장 입력과 출력

In [104]:
print('당신의 이름은 무엇입니까?')
neme = input()
print('이름:',name)

TypeError: 'str' object is not callable

In [88]:
print('당신의 혈액형은 무엇입니까?')
b_type = input()
print(b_type)

당신의 혈액형은 무엇입니까?
ab
ab

In [89]:
name = input('당신의 이름은 무엇입니까?')
print =(name*3)

당신의 이름은 무엇입니까?서원우

In [3]:
age = input('당신은 몇살 입니까?')
print(age*2)
#input()을 통해 입력받은 데이터는 무조건 문자로 저장된다.

당신은 몇살 입니까?20
2020

In [2]:
n1 = input('첫번째 수를 입력하시오')
n2 = input('두번째 수를 입력하시오')
print('두 수의 합은', int(n1)+int(n2))

첫번째 수를 입력하시오10
두번째 수를 입력하시오20
두 수의 합은 30

In [6]:
n1 = int(input('첫번째 수를 입력하시오'))
n2 = int(input('두번째 수를 입력하시오'))
print('두 수의 합은',n1+n2)

첫번째 수를 입력하시오10
두번째 수를 입력하시오20
두 수의 합은 30

In [1]:
#'박재영은 25세이다'
print('박재영은',25,'세이다')
print('박재영은'+str(25)+'세이다')

박재영은 25 세이다
박재영은25세이다

In [7]:
c=float(input())

3.4

In [10]:
name =  input('이름 입력: ')
print("당신의 이름은 "+ name+ '입니다')
print("당신의 이름은 ", name, '입니다')

이름 입력: 서원우
당신의 이름은 서원우입니다
당신의 이름은  서원우 입니다

In [14]:
name =  input('이름 입력: ')
que = input("당신의 이름은 "+ name+ '입니다')
if que == 'y' or que == 'y' or que == 'yes' or que == 'yes':
    print("안녕하세요 "+name+'님')
else :
    print("이름을 다시 입력하세요")

이름 입력: 서원우
당신의 이름은 서원우입니다yes
안녕하세요 서원우님

In [17]:
#format 연산자
print("{} + {} = {}".format(5,10,5+10))

5 + 10 = 15

In [20]:
print("{}는  {}세이고, 혈액형은 {}이다.".format('서원우',24,'ab'))

서원우는  24세이고, 혈액형은 ab이다.

In [2]:
name = input('당신의 이름은 :')

당신의 이름은 :서원우

In [3]:
print(name)

서원우

In [6]:
num1 = int(input('첫 번째 수를 입력하시오'))
num1

첫 번째 수를 입력하시오3

3

In [7]:
name = input('당신의 이름은 :')
age = input('당신의 나이는 :')
b_t = input('당신의 혈액형은 :')

당신의 이름은 :서원우
당신의 나이는 :24
당신의 혈액형은 :AB

#  출력형태
1. ',' 출력
2. %형식지정자
3. .format 형식
4. f-string 형식

In [10]:
# 1. ',' 출력
# 당신의 이름은 이충민이고, 나이는 30세, 혈액형은 O형이다.
print('당신의 이름은',name+'이고', '나이는', age+'세','혈액형은',b_t+'형 이다.' )

당신의 이름은 서원우이고 나이는 24세 혈액형은 AB형 이다.

In [12]:
# 1. ',' 출력
# 당신의 이름은 이충민이고, 나이는 30세, 혈액형은 O형이다.
print('당신의 이름은 %s이고 나이는 %s세 혈액형은 %s형 이다.' %(name,age,b_t))

당신의 이름은 서원우이고 나이는 24세 혈액형은 AB형 이다.

# .fomat

In [13]:
print('당신의 이름은 {}이고 나이는 {}세 혈액형은 {}형 이다.' .format(name,age,b_t))

당신의 이름은 서원우이고 나이는 24세 혈액형은 AB형 이다.

In [15]:
print('{} {} {} 노래를 한다.' .format('개굴','개굴','개구리'))

개굴 개굴 개구리 노래를 한다.

In [16]:
print('{1} {2} {0} 노래를 한다.' .format('개구리','개굴','개굴'))

개굴 개굴 개구리 노래를 한다.

In [17]:
print('{1} {1} {0} 노래를 한다.' .format('개구리','개굴'))

개굴 개굴 개구리 노래를 한다.

# f-string

In [25]:
print('{}의 나이는{}세 이고, 혈액형은{}형이다.' .format(name,age,b_t))

서원우의 나이는24세 이고, 혈액형은AB형이다.

In [5]:
print(f.'{'개굴'} {'개굴'} {'개구리'} 노래를 한다.')

SyntaxError: invalid syntax (<ipython-input-5-0aea5047cda6>, line 1)

In [27]:
print(f'{name}의 나이는{age}세이고, 혈액형은{b_t}형이다')

서원우의 나이는24세이고, 혈액형은AB형이다

In [28]:
print(1, '+', 2, '=', 1+2)

1 + 2 = 3

In [29]:
print('%d + %d = %d'%(1,2,1+2))

1 + 2 = 3

In [31]:
print('{} + {} = {}' .format(1,2,1+2))

1 + 2 = 3

In [30]:
print(f'{1}+{2}={1+2}')

1+2=3

In [47]:
pi = 3.141592
"원주율은 3.14이다."
print('원주율은 {:.2f}이다.' .format(pi))

원주율은 3.14이다.

In [50]:
print(f'원주율은 {pi:.2f}이다.')

원주율은 3.14이다.

In [34]:
hakbun = input('학번 입력:')
name = input('이름 입력:')
print('학번은',hakbun,'이고, 이름은',name,'입니다.')

학번 입력:2517110136
이름 입력:서원우
학번은 2517110136 이고, 이름은 서원우 입니다.

In [39]:
radius = int(input('반지름 입력:'))
area = 3.14 * radius * radius
print('원의 넓이는 %.2f 입니다.' %area)

반지름 입력:5
원의 넓이는 78.50 입니다.

In [58]:
# f-string
total = int(input('시간의 전체 초 입력: '))
minute = total // 60
sec = total %60
print(f'{total}은, {minute}분, {sec}초 ') # f-string
print(total,'초:',minute,'분',sec,'초')   # 콤마
print('{}초: {}분 {}초' .format(total,minute,sec)) # .format

시간의 전체 초 입력: 3700
3700은, 61분, 40초
3700 초: 61 분 40 초
3700초: 61분 40초

In [67]:
name = input('이름 입력:')
year = int(input('출생년도 입력:'))
age = 2025 - year +1
print(f'{name}님의 한국 나이는 {age}살.')
print('{}님의 한국 나이는 {}살.' .format(name,age))
print(name,'님의 한국 나이는',age,'살.')
print(name+'님의 한국 나이는',str(age) + '살.')

이름 입력:서원우
출생년도 입력:2002
서원우님의 한국 나이는 24살.
서원우님의 한국 나이는 24살.
서원우 님의 한국 나이는 24 살.
서원우님의 한국 나이는 24살.

In [76]:
base = float(input('밑변의 길이:'))
height = float(input('높이의 길이:'))
area = base * height / 2
print(f'밑변 {base:.2f}, 높이 {height:.2f} 인 삼각형의 넓이: {area:.2f}')

밑변의 길이:3.5
높이의 길이:9.7
밑변 3.50, 높이 9.70 인 삼각형의 넓이: 16.97

In [82]:
base = float(input('밑변의 길이:'))
height = float(input('높이의 길이:'))
area = base * height / 2
print('밑변',base, '높이',height, '인 삼각형의 넓이:',area:.2f)
# 콤마로는 실수를 표현할 수 없다.

SyntaxError: invalid syntax (<ipython-input-82-e830203bfeea>, line 4)

In [5]:
height = float(input('키 입력:'))
weight = (height - 100)*0.9
print(f'키 {height:.0f}cm 의 표준 체중은 {weight:.0f}kg 입니다.')
print('키 %d cm 의 표준 체중은 %d kg 입니다.' %(height,weight))

print('키 {}cm 의 표준 체중은 {}kg 입니다.' .format(int(height),int(weight)))
print('키 {:.0f}cm 의 표준 체중은 {:.0f}kg 입니다.' .format(height,weight))
print('키 {}cm 의 표준 체중은 {}kg 입니다.' .format(height,weight))

키 입력:18
키 18cm 의 표준 체중은 -74kg 입니다.
키 18 cm 의 표준 체중은 -73 kg 입니다.
키 18cm 의 표준 체중은 -73kg 입니다.
키 18cm 의 표준 체중은 -74kg 입니다.
키 18.0cm 의 표준 체중은 -73.8kg 입니다.

In [6]:
print('키 {}cm 의 표준 체중은 {}kg 입니다.' .format(int(18.8),int(18.8)))
print('키 {:.0f}cm 의 표준 체중은 {:.1f}kg 입니다.' .format(18.8,18.8))
# int로 형을 변환하게 되면, 소숫점을 버림 처리한다.
# 보통은 반올림함

키 18cm 의 표준 체중은 18kg 입니다.
키 19cm 의 표준 체중은 18.8kg 입니다.

In [15]:
kor = int(input('국어점수'))
eng = int(input('영어점수'))
met = int(input('수학점수'))
sum1 = kor + eng + met 
avg = sum1 / 3
print(f'국어:{kor}점, 영어:{eng}점, 수학:{met}점 => 총점:{sum1:.2f}, 평균:{avg:.2f}')

국어점수86
영어점수82
수학점수97
국어:86점, 영어:82점, 수학:97점 => 총점:265.00, 평균:88.33

# 4장. 기본 자료형

In [6]:
# 다음주 - 리스트, 튜플, 딕셔너리, 집합
# 기본 자료형 - int, str, float, bool
# type(3.14)
# 문자의 인덱싱과 슬라이싱
num1 = input('첫번째 수를 입력하시오')
num2 = input('두번째 수를 입력하시오')
int(num1) + int(num2)

첫번째 수를 입력하시오2
두번째 수를 입력하시오4

6

In [8]:
num1 = int(input('첫번째 수를 입력하시오'))
num2 = int(input('두번째 수를 입력하시오'))
num1 + num2

첫번째 수를 입력하시오2
두번째 수를 입력하시오5

7

In [11]:
num1 = float(input('첫번째 수를 입력하시오'))
print (type(num1), num1)

첫번째 수를 입력하시오3.25
<class 'float'> 3.25

In [12]:
4/2 # 항상 실수

2.0

In [13]:
 3 + 3.0

6.0

In [14]:
int(3.94)

3

In [15]:
3 * 3.0

9.0

In [19]:
name = '이충민박재영'
len(name)

6

In [18]:
s = 'wfwdfdfgdfgdlkfgjdsl;kfgd'
len(s)

25

In [22]:
# 문자는 문자와 결합(덧셈)된다
s1 ='이충민'+'박재영'+' '
len(s1)

7

In [23]:
# 문자는 곱셈도 된다.
s1 *2

'이충민박재영 이충민박재영 '

In [25]:
# 인덱싱 - indexing - 인덱스 번호로 데이터를 추출하는 행위
s1[1]
s1[0] + s1[1] + s1[2]

'이충민'

In [26]:
s1[6]

' '

In [46]:
s2 = 'mechatronics fighting!!!?'
len(s2)
s2[len(s2)-1]

'?'

In [35]:
s2[24]

'?'

In [36]:
s2[-1]

'?'

In [37]:
s2[-2]

'!'

In [43]:
#슬라이싱 - ~부터 ~ 까지 잘라내는 행위
s2[0:4] # 시작 인덱스 번호는 포함하고, 끝 인덱스 범위는 포함하지 않는다

'mach'

In [47]:
s2[0:12]

'mechatronics'

In [48]:
s2[:12]

'mechatronics'

In [50]:
s2[:-1]

'mechatronics fighting!!!'

In [52]:
s2[:]

'mechatronics fighting!!!?'

In [53]:
s2[:-5]

'mechatronics fightin'

In [63]:
s2[0:5:4] #[시작:끝:스텝]

'ma'

In [68]:
s2[::2]

'mcarnc ihig!?'

In [72]:
name = 'hong gilding'
family_name= name[:4]
print(family_name)

hong

In [74]:
pencil=int(input('연필개수:'))
pen=int(input('펜 개수:'))
total_price=pencil*400+pen*800
print(total_price)

연필개수:4
펜 개수:5
5600

In [1]:
A=int(input('A과목:'))
B=int(input('B과목:'))
C=int(input('C과목:'))
total= A+B+C
avg= total/3

print(f'평균:{avg}')
print('평균:',avg)
print('평균:{}'.format(avg))
print('평균:%d'%(avg))


print(f'총합:{total}')

A과목:90
B과목:80
C과목:70
평균:80.0
평균: 80.0
평균:80.0
평균:80
총합:240

In [4]:
music=int(input('구입 음악 개수 :'))
total = music*400
sale = total*0.3
price = total-price
print(f'총 가격:{total}원')
print(f'할인금액 : {sale:.0f}원')
print(f'총 구입 가격: {price:.0f}원')

구입 음악 개수 :9
총 가격:3600원
할인금액 : 1080원
총 구입 가격: 2520원

In [11]:
name = input('이름 :')
phone = input('연락처 :')
print(name, phone[:3]+phone[4:8]+phone[9:])

이름 :서원우
연락처 :010-5347-3227
서원우 01053473227

# 5장, 컬렉션 자료형(collection type)
### 리스트, 튜플, 딕셔너리. 집합(set)

In [16]:
# 리스트 (중요)
a = [1,2,3,4,5]
type(a)

list

In [57]:
a = 1,2,3
type(a)

tuple

In [17]:
sum(a)

15

In [18]:
max(a)

5

In [19]:
min(a)

1

In [20]:
# 리스트를 사용하는 이유
n1 = 10
n2 = 20
n3 = 30
n4 = 40
n5 = 50
total = n1 + n2 + n3 + n4 + n5
avg = total / 5
print('합계:', total, '평균:', avg)

합계: 150 평균: 30.0

In [21]:
n = [10,20,30,40,50]
total = n[0]+n[1]+n[2]+n[3]+n[4]
avg = total / 5
print('합계:', total, '평균:', avg)

합계: 150 평균: 30.0

In [25]:
n[::2]

[10, 30, 50]

In [30]:
n = [10,20,'박재영','이충민','1B',[10,20]]

In [31]:
n[-1]

[10, 20]

In [33]:
n[-1][1]

20

In [35]:
n[-1] = '담요'
n

[10, 20, '박재영', '이충민', '1B', '담요']

In [36]:
len(n)

6

In [39]:
n[2][2]

'영'

In [41]:
n[0]+n[1]

30

In [42]:
n[3]+n[-1]

'이충민담요'

In [44]:
#리스트의 메서드(method) (기능(function:함수, 메서드))
#append - 붙이다. #appendix 첨부.
#count
#copy
#clear
#insert
#index
#pop
#remove
#reverse
#sort
#extend
n.append('메카')

In [46]:
n.append([30,40])
n

[10, 20, '박재영', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40]]

In [48]:
n.append('메카')
n

[10, 20, '박재영', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [50]:
n.count('메카')

4

In [52]:
n1 = n
n

[10, 20, '박재영', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [51]:
n1 = n.copy()
n1

[10, 20, '박재영', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [53]:
n1 = n #얕은 복사  -> 원본과 사본을 합침
n1[2] = 'park'
n1

[10, 20, 'park', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [54]:
n

[10, 20, 'park', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [55]:
n2 = n.copy() # 깊은 복사   -> 원본과 사본을 분리하기위함
n2[2] = '박재영'
n2

[10, 20, '박재영', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [56]:
n

[10, 20, 'park', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [ ]:
# 리스트, 튜플, 딕셔너리, 집합

In [3]:
n = [1,2,3,4,5,6,'1B',['이충민','과대']]
len(n) #8
type(n) #list
# 추가
n.append(7) # 마지막에 추가
#insert :원하는 인덱스번호에 삽입
#extend :확장

print(n)
# 삭제
# 정렬

[1, 2, 3, 4, 5, 6, '1B', ['이충민', '과대'], 7]

In [6]:
# print(n)
n.append([8,9]) #append는 1개의 원소만 받을 수 있음.
print(n)
# 삭제
# 정렬

[1, 2, 3, 4, 5, 6, '1B', ['이충민', '과대'], 7, [8, 9]]

In [7]:
n[0]

1

In [8]:
n[-1]

[8, 9]

In [10]:
n[-1][0]

8

In [11]:
n[7]

['이충민', '과대']

In [12]:
n[7][0]

'이충민'

In [17]:
print(n)
n.insert(1,5)

[1, 1, 1, 2, 3, 4, 5, 6, '1B', ['이충민', '과대'], 7, [8, 9]]

In [18]:
print(n)

[1, 5, 1, 1, 2, 3, 4, 5, 6, '1B', ['이충민', '과대'], 7, [8, 9]]

In [20]:
n.extend([10,11,12])
n

[1, 5, 1, 1, 2, 3, 4, 5, 6, '1B', ['이충민', '과대'], 7, [8, 9], 10, 11, 12]

In [21]:
n.extend([99])
n

[1, 5, 1, 1, 2, 3, 4, 5, 6, '1B', ['이충민', '과대'], 7, [8, 9], 10, 11, 12, 99]

In [22]:
n.extend('서원우')

In [24]:
print(n)

[1, 5, 1, 1, 2, 3, 4, 5, 6, '1B', ['이충민', '과대'], 7, [8, 9], 10, 11, 12, 99, '서', '원', '우']

In [26]:
n[-1]

'우'

In [28]:
n.extend(['파이썬'])

In [29]:
print(n)

[1, 5, 1, 1, 2, 3, 4, 5, 6, '1B', ['이충민', '과대'], 7, [8, 9], 10, 11, 12, 99, '서', '원', '우', '파이썬']

In [30]:
#  .extend   extend('문자열'): 문자열을 쪼개서 넣음 , 정수를 이렇게 넣으면 에러
#            extend(['문자열']): 문자열을 그대로 넣음

In [2]:
n1 = [1,2,3]
n1.append(4)
n1.insert(0,0)
n1.extend([5,6])

n1

[0, 1, 2, 3, 4, 5, 6]

In [3]:
# 삭제
# remove()
# pop()
# clear()
n1.remove(2) # 제거하다

In [50]:
n1=[0,1,2,3,4,5,6,4]
n1

[0, 1, 2, 3, 4, 5, 6, 4]

In [46]:
n1.append(4)
n1

[0, 1, 3, 5, 6, 4]

In [51]:
n1.remove(4) # 앞에 있는원소 삭제
n1

[0, 1, 2, 3, 5, 6, 4]

In [52]:
n1.pop() # 맨마지막 원소를 제거

4

In [53]:
n1

[0, 1, 2, 3, 5, 6]

In [54]:
n1.pop()

6

In [55]:
n1

[0, 1, 2, 3, 5]

In [63]:
a = n1.pop() #5 제거
n1.append(a) #5 삽입
n1 =[0,1,3,5]
n1

[0, 1, 3, 5]

In [64]:
n1.pop(2) #()는 인덱스 번호 , 입력하지않을경우 맨마지막 인덱스

3

In [65]:
n1

[0, 1, 5]

In [66]:
n1.clear()
n1

[]

In [67]:
n2 = [1,2,3]
n2

[1, 2, 3]

In [68]:
n2.append(0)
n2

[1, 2, 3, 0]

In [69]:
n2.insert(2,5)
n2

[1, 2, 5, 3, 0]

In [70]:
n2.insert(2,['a','b'])
n2

[1, 2, ['a', 'b'], 5, 3, 0]

In [71]:
n2.extend([7,8])
n2

[1, 2, ['a', 'b'], 5, 3, 0, 7, 8]

In [72]:
n2.pop()
n2

[1, 2, ['a', 'b'], 5, 3, 0, 7]

In [73]:
n2.pop(2)
n2

[1, 2, 5, 3, 0, 7]

In [75]:
n2.remove(0)
n2

[1, 2, 5, 3, 7]

In [76]:
n2.pop(2)

5

In [77]:
n2

[1, 2, 3, 7]

In [78]:
n2.clear()

In [79]:
n2

[]

In [80]:
# sort()
# reverse()
# index()
# count()

In [89]:
n5 = [1,3,2,7,5,0]
n5.append(2)
n5

[1, 3, 2, 7, 5, 0, 2]

In [82]:
n5.count(1)

1

In [83]:
n5.count(2)

2

In [84]:
n5.count(6)

0

In [85]:
n5

[1, 3, 2, 7, 5, 0, 2]

In [91]:
n5.reverse() # 잘 사용 안함, 2번사용하면 원래대로
n5

[1, 3, 2, 7, 5, 0, 2]

In [93]:
n5.index(3) # ()의 인덱스 번호

1

In [101]:
n5.index(3)

3

In [94]:
n5.index(2) #중복되면 리스트의 앞에 있는 인덱스번호

2

In [95]:
n5.count(2) 
n5.index(2)
n5.pop(2)      #보통 이런식으로 조합해서 사용
n5

[1, 3, 7, 5, 0, 2]

In [96]:
n5

[1, 3, 7, 5, 0, 2]

In [98]:
n5.sort() # 오름차순으로 정렬
n5

[0, 1, 2, 3, 5, 7]

In [99]:
n6 = [1,3,2,4,0]
n7 = sorted(n6) # 원본을 유지하고 싶으면 sorted 사용
print(n6)
print(n7)

[1, 3, 2, 4, 0]
[0, 1, 2, 3, 4]

In [103]:
n6.index(3)

1

In [104]:
n8 = [1,3,2,4,0]
n8.sort()
n8.reverse()  #sort,reverse 를 같이 사용하면 내림차순 정렬
n8

[4, 3, 2, 1, 0]

In [105]:
# 얕은 복사 (저장되는 주소를 공유한다.)
n9 = n8
n9

[4, 3, 2, 1, 0]

In [106]:
n8

[4, 3, 2, 1, 0]

In [107]:
n9.append(5)
n9

[4, 3, 2, 1, 0, 5]

In [108]:
n8

[4, 3, 2, 1, 0, 5]

In [110]:
n8.clear()
n8

[]

In [111]:
n9

[]

In [112]:
n10 = [1,3,5]
# n11 = n10  얕은 복사
n11 = n10.copy() # 깊은 복사
n11

[1, 3, 5]

In [113]:
n11.clear()
n11

[]

In [114]:
n10

[1, 3, 5]

In [115]:
n12 = [1,5,6]
n13 = n12.copy()
n13

[1, 5, 6]

In [117]:
n12.clear()
print(n12)
print(n13)

[]
[1, 5, 6]

In [118]:
t = 1,2,3 # 하나의 변수의 여러개의 값을 주면 소괄호 생성
t

(1, 2, 3)

In [119]:
type(t) # tuple: 기본 자료형

tuple

In [120]:
t1 = (1,2,3) # 보통은 괄호를 씌움 
type(t1)

tuple

In [121]:
t1.count(2)

1

In [122]:
t1.index(3)

2

In [123]:
'이충민'+'과대'

'이충민과대'

In [131]:
s1 = '이충민바보'
s1[::-1]

'보바민충이'

In [130]:
l = [1,2,3]+[4,5,6]
l[:3]
l[::-1]

[6, 5, 4, 3, 2, 1]

In [124]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [132]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [133]:
# 문자와 리스트는 거의 유사하다

In [134]:
t1 = (1,2,3)
t1[0]

1

In [135]:
t1[:]

(1, 2, 3)

In [136]:
t1[::2]

(1, 3)

In [137]:
t1[::-1]

(3, 2, 1)

In [138]:
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [140]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [143]:
(1,2,3)+(4,5)

(1, 2, 3, 4, 5)

In [146]:
t1 = (1,2,3)
# 튜플은 값의 변경을 허용하지 않는다.

In [147]:
n = 1,2,3
# t1.count()
# t1.index()

In [151]:
spot=['명동','가로수길','홍대','대학로']
select= spot[2:] #[2:4]
print(select)

['홍대', '대학로']

In [152]:
num=[50,30,70,40]

# num.pop(1)
num.remove(30)

num.sort()

print(num)

[40, 50, 70]

In [161]:
hong = ['홍일동','홍이동','홍삼동']
print(hong)

hong.append('홍사동')
print(hong)

hong.insert(2,'홍이동')
print(hong)

print(hong.count('홍이동'))

hong.reverse()
print(hong)

hong.remove('홍일동') #pop
print(hong)

hong.sort()
hong.reverse()
print(hong)

print(len(hong))

['홍일동', '홍이동', '홍삼동']
['홍일동', '홍이동', '홍삼동', '홍사동']
['홍일동', '홍이동', '홍이동', '홍삼동', '홍사동']
2
['홍사동', '홍삼동', '홍이동', '홍이동', '홍일동']
['홍사동', '홍삼동', '홍이동', '홍이동']
['홍이동', '홍이동', '홍삼동', '홍사동']
4

# 기말고사 범위

In [3]:
# 리스트, 튜플
# 딕셔너리, 집합
# 연습문제, 도전문제

In [4]:
l1 = [1,2,3]
l1.insert(0,0)
l1

[0, 1, 2, 3]

In [5]:
l1.extend([4,5])
l1

[0, 1, 2, 3, 4, 5]

In [6]:
l1.append(6)
l1

[0, 1, 2, 3, 4, 5, 6]

In [7]:
l1.pop()

6

In [8]:
l1

[0, 1, 2, 3, 4, 5]

In [9]:
l1.remove(3)
l1

[0, 1, 2, 4, 5]

In [10]:
l1.pop(0)
l1

[1, 2, 4, 5]

In [11]:
l1.count(4)

1

In [12]:
l1.reverse()
l1

[5, 4, 2, 1]

In [13]:
l1.sort()
l1

[1, 2, 4, 5]

In [14]:
l2 = l1  #얕은복사
l2.append(6)

In [15]:
l2

[1, 2, 4, 5, 6]

In [16]:
l1

[1, 2, 4, 5, 6]

In [17]:
l3 = l1.copy()
l3

[1, 2, 4, 5, 6]

In [18]:
l1.index(1)

0

In [19]:
t1 = (1,2,3)
t1 *2

(1, 2, 3, 1, 2, 3)

In [20]:
t1 + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [21]:
t1

(1, 2, 3)

In [22]:
t1[0]

1

In [23]:
t1[0] = 3

TypeError: 'tuple' object does not support item assignment

In [24]:
# 딕셔너리 (dictionary) - dict(), {}
# key와 value로 쌍을 이룬다.
d1 = {'충민':4344, '용빈':187}
d1

{'충민': 4344, '용빈': 187}

In [26]:
d2 = {'love': '사랑', 'alchol':'참이슬' , 'money':'돈', 'tech':'기술', 'believe in':'믿다'}
d2

{'love': '사랑', 'alchol': '참이슬', 'money': '돈', 'tech': '기술', 'believe in': '믿다'}

In [27]:
type(d2)

dict

In [28]:
len(d2)

5

In [29]:
d2['love']

'사랑'

In [32]:
d2['money']

'돈'

In [34]:
d2['alchol'] = '좋은데이'
d2

{'love': '사랑',
 'alchol': '좋은데이',
 'money': '돈',
 'tech': '기술',
 'believe in': '믿다'}

In [37]:
# keys, values, items, clear, pop, get
d2.keys()

dict_keys(['love', 'alchol', 'money', 'tech', 'believe in'])

In [38]:
l1 = list(d2.keys())
l1

['love', 'alchol', 'money', 'tech', 'believe in']

In [39]:
l1[0]

'love'

In [41]:
d2.values()

dict_values(['사랑', '좋은데이', '돈', '기술', '믿다'])

In [42]:
l2 = list(d2.values())
l2

['사랑', '좋은데이', '돈', '기술', '믿다']

In [43]:
l2[2]

'돈'

In [44]:
d2.items()  # key와 vlaue 의 쌍을 튜플로 묶은 값을 반환

dict_items([('love', '사랑'), ('alchol', '좋은데이'), ('money', '돈'), ('tech', '기술'), ('believe in', '믿다')])

In [45]:
d2.pop()

TypeError: pop expected at least 1 argument, got 0

In [46]:
d2.pop('alchol')  # key와 value 한 쌍을 제거

'좋은데이'

{'love': '사랑', 'money': '돈', 'tech': '기술', 'believe in': '믿다'}

In [48]:
d2.pop('사랑') # value 값을 넣으면 에러 -> key값으로만 사용가능

KeyError: '사랑'

In [49]:
d2['love']

'사랑'

In [50]:
d2['healthy']  #없는 키 값을 입력하면 에러  -> KeyError

KeyError: 'healthy'

In [51]:
d2['healthy'] = '건강'
d2

{'love': '사랑', 'money': '돈', 'tech': '기술', 'believe in': '믿다', 'healthy': '건강'}

In [53]:
d2['family'] = '가족'
d2

{'love': '사랑',
 'money': '돈',
 'tech': '기술',
 'believe in': '믿다',
 'healthy': '건강',
 'family': '가족'}

In [54]:
print(3*4)
d2['mind']
print(4*5)

12

KeyError: 'mind'

In [60]:
print(3*4)
# d2.get('family', 'no')
d2.get('mind', 'no') # get -> 올바른 키 값을 입력하면 밸류값이 나오고, 존재하지않는 키값을 입력하면 '정해진 값' 출력

12

'no'

In [63]:
d2.get('mind', '없음')  # -> 에러를 발생시키지 않고, 해당명령어가 실행되었는지 확인할 때 사용

'없음'

In [64]:
d2.clear()
d2

{}

In [66]:
d2['man'] = '사람'
d2

{'man': '사람'}

In [67]:
d3 = []
d3

[]

In [68]:
d4 = dict()
d4

{}

In [69]:
d5 = {}
d5

{}

In [70]:
d4['key'] = 'value'
d4

{'key': 'value'}

In [86]:
d4('keys') = 'values'
d4

SyntaxError: cannot assign to function call (<ipython-input-86-1c8d55303227>, line 1)

In [72]:
print(type(d3),type(d4),type(d5))

<class 'list'> <class 'dict'> <class 'dict'>

In [73]:
# 집합
# set() - {10,20}

# 중복되지 않는다.
# 순서가 없다.

In [74]:
s = {10,20,30,20,10}
s

{10, 20, 30}

In [75]:
b = [1,2,3,4,12,3,4,2,4,12,4,235,1]
s1 = set(b) 
s1  # 중복되지 않는다

{1, 2, 3, 4, 12, 235}

In [76]:
s1[0] # 순서(index)가 없기때문에 에러

TypeError: 'set' object is not subscriptable

In [78]:
a = {1,2,3,4,5}
b = {1,3,5,7,9}
# 교집합, 합집합, 차집합,         공집합

a & b  # 교집합
a.intersection(b)  # 암기할 필요는 없음

{1, 3, 5}

In [80]:
# 합집합
a | b 
a.union(b) # 몰라도됨

{1, 2, 3, 4, 5, 7, 9}

In [82]:
# 차집합
a - b
a.difference(b) #몰라도됨

{2, 4}

In [85]:
b - a

{7, 9}

In [83]:
a

{1, 2, 3, 4, 5}

In [84]:
type(a)

set

In [87]:
# add, update,   remove, clear,      pop
a.add(3)
a

{1, 2, 3, 4, 5}

In [88]:
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [89]:
a.add(0)
a

{0, 1, 2, 3, 4, 5, 6}

In [90]:
a.update(7,8)
a

TypeError: 'int' object is not iterable

In [91]:
a.update([7,8])
a

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [92]:
a.remove(8)
a

{0, 1, 2, 3, 4, 5, 6, 7}

In [94]:
a.pop()
a       # 랜덤하게제거   , 잘사용안함

{2, 3, 4, 5, 6, 7}

In [98]:
a.clear()
a

set()

In [99]:
a = list(range(1,6))
a

[1, 2, 3, 4, 5]

In [100]:
a1 = list(range(6))
a1

[0, 1, 2, 3, 4, 5]

In [103]:
num=[50,30,70,40]
num.sort()
num.remove(30)
num

[40, 50, 70]

In [110]:
people = {100:'yang', 200:'jang', 300:'o'}
print(list(people.keys()))
print(list(people.values()))
print(list(people.items()))

print(people[200])
print(people.get(200))  # 이렇게 하는것이 더 좋음

del(people[100])
# people.pop(100)  # 이렇게 하는것이 일반적

print(people)

[100, 200, 300]
['yang', 'jang', 'o']
[(100, 'yang'), (200, 'jang'), (300, 'o')]
jang
jang
{200: 'jang', 300: 'o'}

In [120]:
addr = {}        # 딕셔너리

addr['최재원'] = '010-1111-1234'
addr['최지윤'] = '010-2222-1234'
addr['김연수'] = '010-3333-1234'
addr['김연우'] = '010-4444-1234'
addr['김가현'] = '010-5555-1234'
addr['김혜현'] = '010-6666-1234'

print(addr)
print()
print(list(addr.keys()))
name = input('search name:')
addr.get(name, 'not Found')

{'최재원': '010-1111-1234', '최지윤': '010-2222-1234', '김연수': '010-3333-1234', '김연우': '010-4444-1234', '김가현': '010-5555-1234', '김혜현': '010-6666-1234'}

['최재원', '최지윤', '김연수', '김연우', '김가현', '김혜현']
search name:김연우

'010-4444-1234'

In [121]:
clubA={'kim', 'park', 'hwang'}
clubB={'park', 'lee', 'choi'}

clubC= clubA | clubB
clubC

{'choi', 'hwang', 'kim', 'lee', 'park'}

In [122]:
clubA & clubB

{'park'}

In [123]:
clubA - clubB

{'hwang', 'kim'}

In [124]:
clubB - clubA

{'choi', 'lee'}

In [125]:
clubA.add('yang')
clubA

{'hwang', 'kim', 'park', 'yang'}

In [126]:
clubB.remove('lee')
clubB

{'choi', 'park'}

In [127]:
print(clubA,clubB)

{'kim', 'yang', 'hwang', 'park'} {'choi', 'park'}

# 05-12

In [1]:
a = {'name':'박재영','키':190,'몸무게':80}

In [2]:
a.values()

dict_values(['박재영', 190, 80])

In [3]:
list(a.values())

['박재영', 190, 80]

In [4]:
list(a.values())[0]

'박재영'

In [5]:
a.items()

dict_items([('name', '박재영'), ('키', 190), ('몸무게', 80)])

In [6]:
a.get('키')

190

In [12]:
a('여자친구')

TypeError: 'dict' object is not callable

In [9]:
a.get('여자친구','없다')

'없다'

# 6장 선택문

In [13]:
# 조건문
# 조건식과 들여쓰기에 대한 개념

In [14]:
# 기본적인 파이썬에서의 조건문 템플릿
# if 조건식:
#     문장
# 조건식이 만약 참이면, 아래의 문장을 실행하라.

In [21]:
num = int(input('숫자를 입력:'))
if num > 0:
    print('입력받은수는 양수')
    print('입력받은 수:',num)       # 참인 값만 필요한 경우에도 else를 사용하여 값이없더라도(pass) 한번도 고민하는 것이 바람직함.

숫자를 입력:3
입력받은수는 양수
입력받은 수: 3

In [23]:
num = int(input('숫자를 입력:'))
if num > 0:
 print('입력받은수는 양수')     # 조건문에서 들여쓰기는 일정하게 할 것 (공백4칸 권장)
    print('입력받은 수:',num)

IndentationError: unexpected indent (<ipython-input-23-9645c130b854>, line 4)

In [26]:
num = int(input('숫자를 입력:'))
if num > 0:
    print('입력받은수는 양수')    
print('입력받은 수:',num)          # 이렇게 출력하면 선택문과 상관없이 실행

숫자를 입력:3
입력받은수는 양수
입력받은 수: 3

In [27]:
if (num > 0) {
    print('입력받은 수는 양수')
    print('입력받은 수:',num)
}

SyntaxError: invalid syntax (<ipython-input-27-8db40c46889d>, line 1)

In [31]:
# if(만약 조건이 참이라면 ~) -else ( 그 외의 경우)
# if 와 else는 반드시 둘 중 하나만 실행한다.
# 
num = int(input('숫자를 입력:'))
if num > 0:
    print('입력받은수는 양수')
    print('입력받은 수:',num)
else :
    print('입력받은수는 음수')
    print('입력받은 수:',num)

숫자를 입력:-3
입력받은수는 음수
입력받은 수: -3

In [36]:
# 문제: 숫자를 하나 입력 받고, 그 수가 짝수인지 홀수 인지를 판단하시오.
# 짝수면  '짝수'라고 출력하고, 홀수면 '홀수' 라고 출력하시오

num = int(input('숫자를 하나 입력하시오:'))
num1 = num % 2
if num1 > 0 :
    print('홀수')
else :
    print('짝수')

숫자를 하나 입력하시오:2
짝수

In [40]:
num = int(input('숫자를 하나 입력하시오:'))
# num1 = num % 2

# if num % 2 == 1 :
if num % 2 > 0 :
    print('홀수')
else :                           
    print('짝수')

숫자를 하나 입력하시오:4
짝수

In [48]:
num = int(input('숫자를 입력:'))
if num > 0:
    print('입력받은수는 양수')
    print('입력받은 수:',num)
else :                                 
    if num == 0:                        # 중첩 선택문
        print('입력받은 수는 0이다')
    else :
        print('입력받은수는 음수')
        print('입력받은 수:',num)

숫자를 입력:0
입력받은 수는 0이다

In [51]:
# and,  or
# 학점이 4.0 이상익, 거주지가 창원이면 장학금 대상자다.
score = float(input('학점을 입력하시오:'))
town = input('거주지를 입력하시오:')
if score >= 4.0 and town == '창원':
    print('장학금 대상자')
else :
    print('장학금 비대상자')

학점을 입력하시오:3.9
거주지를 입력하시오:창원
장학금 비대상자

In [58]:
score = float(input('학점을 입력하시오:'))
town = input('거주지를 입력하시오:')
if score >= 4.0 :
    if town == '창원':
        print('장학금 대상자')
    
else :
    print('장학금 비대상자')

학점을 입력하시오:4.0
거주지를 입력하시오:서울

In [59]:
score = float(input('학점을 입력하시오:'))
town = input('거주지를 입력하시오:')
if score >= 4.0 :
    if town == '창원':
        print('장학금 대상자')
    
    else:
        print('학점음 충족하나 거주지 문제로 장학금 대상자 아님')
else :
    print('장학금 비대상자')

학점을 입력하시오:3.0
거주지를 입력하시오:창원
장학금 비대상자

In [60]:
# 문제:
# 중간고사 점수와 기말고사 점수를 각각 입력 받고,
# 두 점수의 평균이 100 ~ 95이상: A+
#         95미만 ~ 90 이상 : A
#         90미만 ~ 85 이상 : B+
#         85미만 : B

In [61]:
midle = int(input('중간고사 점수 입력:'))
final = int(input('기말고사 점수 입력:'))
score = (midle+final) /2
if  score >= 85 and score < 90:
    if score >= 90 and score < 95:
        if score >= 95:
            print(A+)
    else:
        print(A)

SyntaxError: invalid syntax (<ipython-input-61-606ea761f7c8>, line 7)

In [65]:
midle = int(input('중간고사 점수 입력:'))
final = int(input('기말고사 점수 입력:'))
avg = (midle+final)/2

if avg <= 100 and avg >= 95:
    print('A+')
else :
    if avg < 95 and avg >= 90:
          print('A')
    else:
          if avg < 90 and avg >= 85:
              print ('B+')
          else:
              print('B')

중간고사 점수 입력:100
기말고사 점수 입력:100
A+

In [66]:
# if 조건식1:
# elif 조건식2:
# elif 조건식3:
# print()       X
#     else:
    
# if 와 elif와 else 사이에는 대등한 위치에는 다른 문장(명령문) 이 올수 없다.
# 조건식이 만족하는 최초의 부분에서 실행하고 탈출한다.

In [67]:
midle = 90
final = 90
avg = (midle+final)/2

if avg <= 100 and avg >= 95:
    print('A+')
elif avg < 95 and avg >= 90:
    print('A')
elif avg < 90 and avg >= 85:
    print ('B+')
else:
    print('B')

A

In [71]:
#문제 : 어떤 수를 입력 받아, 그 수가 양수인지 0인지 음수인지 판단하시오.

num = int(input('수를 입력:'))
if num  > 0:
    print('양수')
elif num == 0:
    print('0')
else:
    print('음수')

수를 입력:-2
음수

In [72]:
midle = 90
final = 90
avg = (midle+final)/2

if  avg >= 95:     # 뒤에 있는 조건식이 만족하더라도 위의 조건식에서 만족하면 빠져나온다.
    print('A+')
elif  avg >= 90:
    print('A')
elif  avg >= 85:
    print ('B+')
else:
    print('B')

A

In [73]:
midle = 99
final = 99
avg = (midle+final)/2

if  avg >= 95:     
    print('A+')
if  avg >= 90:
    print('A')
if  avg >= 85:
    print ('B+')
else:
    print('B')

A+
A
B+

In [74]:
# if ~ in :
# if ~ not in :
if 'e' in 'hello':
    print('ok')
else:
    print('NG')

ok

In [78]:
name = ['아이유','권진아','조째즈','최유리']
if '잔나비' in name:
    print('어')
else:
    print('아니')

아니

In [77]:
name = ['아이유','권진아','조째즈','최유리']
if '잔나비' not in name:
    print('어')
else:
    print('아니')

어

In [80]:
# 90 점 이상이고 95점 미만이면
# if score >= 90 and score < 95
#if 90 <= score < 95:  -> 파이썬에서만 가능하기때문에 추천하지 않음.

In [82]:
year = int(input('년도 입력:'))
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print('윤년')
else:
    print('평년')
# 4로 나누어떨어지면 윤년
# 하지만 100으로 나누어떨어지면 평년
# 단. 400으로 나누어 떨어지면 다시 윤년

년도 입력:2000
윤년

In [86]:
num = int(input('정수 입력: '))
if num > 0 :
    print(f'{num}은 양수')
elif num < 0 :
    print(f'{num}은 음수')
elif num == 0 :
    print(f'{num}은 0')

정수 입력: 0
0은 0

In [95]:
# 어떤 수를 입력 받아 그 수가 3의 배수인지, 4의 배수인지, 
# 또는 3과 4 모두의 배수인지를 판단하시오.
num = int(input('어떤 수를 입력:'))
if num % 3 == 0 and num % 4 == 0 :       # 선택문(조건문)의 순서가 중요함.
    print('3과 4 모두의 배수')
elif num % 3 == 0 :
    print('3의 배수')
elif num % 4 == 0 :
    print('4의 배수')
else :
    pass

어떤 수를 입력:120
3과 4 모두의 배수

In [98]:
num = int(input('어떤 수를 입력:'))
if num % 4 == 0 :       # 선택문(조건문)의 순서가 중요함.
    print('4의 배수')
elif num % 3 == 0 :
    print('3의 배수')
elif num % 3 == 0 and num % 4 == 0 :
    print('3과 4 모두의 배수')
else :
    pass

어떤 수를 입력:12
4의 배수

In [103]:
# 두 정수를 입력받아 큰 수를 출력하되, 같으면 '같습니다' 출력.
num1 = int(input('첫번째 정수 입력:'))
num2 = int(input('두번째 정수 입력:'))
if num1 == num2 :
    print('같습니다')
elif num1 > num2 :
    print(num1)
elif num1 < num2 :
    print(num2)

첫번째 정수 입력:10
두번째 정수 입력:10
같습니다

In [110]:
num1 = int(input('첫번째 정수 입력:'))
num2 = int(input('두번째 정수 입력:'))
if num1 > num2 :
    print(num1)
elif num1 == num2 :
    print('같습니다')
else:
    print(num2)

첫번째 정수 입력:13
두번째 정수 입력:13
같습니다

In [1]:
# 세 수를 비교해서 큰 순서대로 출력하시오.
n1 = int(input('n1: '))
n2 = int(input('n2: '))
n3 = int(input('n3: '))

if n1 > n2 and n1 > n3:
    print(n1)
elif n2 > n3 :
    print(n2)
else:
    print(n3)

n1: 10
n2: 20
n3: 30
30

In [5]:
# 세 수를 비교해서 큰 순서대로 출력하시오.

# n1 >= n2 >= n3
# n1 >= n3 >= n2
# n2 >= n1 >= n3
# n2 >= n3 >= n1
# n3 >= n1 >= n2
# n3 >= n2 >= n3

n1 = int(input('n1: '))
n2 = int(input('n2: '))
n3 = int(input('n3: '))
if n1 >= n2 and n2 >= n3:
    print(n1,n2,n3)
elif n1 >= n3 and n3 >= n2:
    print(n1,n3,n2)
elif n2 >= n1 and n1 >= n3:
    print(n2,n1,n3)
elif n2 >= n3 and n3 >= n1:
    print(n2,n3,n1)
elif n3 >= n1 and n1 >= n2:
    print(n3,n1,n2)
elif n3 >= n2 and n2 >= n1:
    print(n3,n2,n1)
else:
    pass

n1: 5
n2: 2
n3: 1
5 2 1

In [8]:
a = 'hello'
if 'x' in a:
    print('ok')
else:
    print('NG')

NG

In [12]:
# 도전 1-1
num = int(input('정수 입력:'))
if num %2 == 1:
    print('%d 는 홀수' % num)
else:
    print('%d 는 짝수' % num)

정수 입력:0
0 는 짝수

In [15]:
# 도전 1-2
num = int(input('정수 입력:'))
if num  > 0:
    print('양수')
elif num < 0:
    print('음수')
else:
    print(0)

정수 입력:-5
음수

In [18]:
# 도전 1-3
id_ = input('아이디 입력: ')
pwd = input('비밀번호 입력:')
if id_ == 'admin' and pwd == 'pw1234':
    print('로그인성공')
else:
    print('아이디나 비밀번호가 틀려 로그인 실패')

아이디 입력: admin
비밀번호 입력:pw1234
로그인성공

In [21]:
id_ = input('아이디 입력: ')
pwd = input('비밀번호 입력:')

if id_ == 'admin':
    if pwd == 'pw1234':
        print('로그인성공')
    else :
        print('비밀번호 확인바람')
else:
    print('아이디 확인바람')

아이디 입력: admin
비밀번호 입력:pw1234
로그인성공

In [23]:
# 비밀번호가 틀린 경우, 한번 더 입력 받고, 맞으면 로그인성공
# 틀리면, 비밀번호 오류

id_ = input('아이디 입력: ')
pwd = input('비밀번호 입력: ')

if id_ == 'admin':
    if pwd == 'pw1234':
        print('로그인 성공')
    else:
        print('비밀번호 확인 바람')
        pwd = input('비밀번호 다시 입력: ')
        if pwd == 'pw1234':
            print('로그인 성공')
        else:
            print('비밀번호 오류')
else:
    print('아이디 확인바람')

아이디 입력: admin
비밀번호 입력: 13
비밀번호 확인 바람
비밀번호 다시 입력: pw1234
로그인 성공

In [56]:
# 도전 2-1
num1 = int(input('첫 번째 수 입력: '))
num2 = int(input('두 번째 수 입력: '))
aaa = input('원하는 연산 기호 하나 입력: (+ - * /)' )
if aaa == '+':
    print(f'{num1} + {num2} = {num1+num2}')
elif aaa == '-':
    print(f'{num1} - {num2} = {num1-num2}')
elif aaa == '*':
    print(f'{num1} * {num2} = {num1*num2}')
elif aaa == '/':
    print(f'{num1} / {num2} = {num1/num2:.2f}')
else:
    print('잘못된 연산 기호')

첫 번째 수 입력: 5
두 번째 수 입력: 3
원하는 연산 기호 하나 입력: (+ - * /)/
5 / 3 = 1.67

In [50]:
# 도전 2-2
score1 = int(input('1차 점수 입력: '))
score2 = int(input('2차 점수 입력: '))
avg = (score1 + score2) / 2
if avg >= 70 and score1 >= 50 and score2 >= 50:
    print('합격')
# elif score1 < 50 or score2 < 50:
#     print('과락')
else:
    print('불합격')

1차 점수 입력: 70
2차 점수 입력: 60
불합격

In [55]:
score1 = int(input('1차 점수 입력: '))
score2 = int(input('2차 점수 입력: '))
avg = (score1 + score2) / 2

if avg >= 70:
    if score1 >= 50:
        if score2 >= 50:
            print('합격')
        else:
            print('2차 점수 과락으로 불합격')
    else:
        print('1차 점수 과락으로 불합격')
else:
    print('평균 70점 미만으로 불합격')

1차 점수 입력: 40
2차 점수 입력: 100
1차 점수 과락으로 불합격

In [49]:
# 도전 2-3
score = int(input('점수 입력: '))
if score <= 100:
    if score >= 90:
        print('A')
    elif score >= 80:
        print('B')
    elif score >= 70:
        print('C')
    elif score >= 60:
        print('D')
    else:
        print('F')
else:
    print('잘못된 점수 입력')

점수 입력: 59
F

# 7장. 반복문

In [57]:
# 파이썬 반복문에 대하여 이해할 수 있다.
# 파이썬 반복문의 종류와 구조를 이해하고 활용할 수 있다.
# 파이썬 중첩 반복문의 다양한 형태를 이해하고 표현할 수 있다.
# 파이썬 기타 제어문의 종류와 구조를 이해하고 용도에 맞게 활용할 수 있다.

In [59]:
# 반복문 - for(~ 하는 동안에), while(~하는 동안에)
for ~ in ~:

In [60]:
for i in 'hello':
    print('충민')

충민
충민
충민
충민
충민

In [61]:
for i in '폴리텍':
    print('메카')

메카
메카
메카

In [63]:
for i in [1,2,3,4,5]:
    print('메카')

메카
메카
메카
메카
메카

In [64]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [65]:
for j in [1,2,3,4,5]:
    print(j)

1
2
3
4
5

In [71]:
for i in '폴리텍':
    print(i, end = '')

폴리텍

In [72]:
for i in '폴리텍':
    print(i, end = ' ')

폴 리 텍

In [73]:
for i in [1,2,3,4,5]:
    print('*' * i)

*
**
***
****
*****

In [77]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [79]:
for i in range(5):
    print(i)

0
1
2
3
4

In [82]:
odd = [1,3,5,7,9]
for i in odd:
    print(i+1, end = ' ')

2 4 6 8 10

In [83]:
# 구구단 중 3단을 출력하시오.
# 3*1 = 3
# ~~~
# 3*9 = 27
num= list(range(1,10))
for i in num:
    print(f'3 * {i} = {3*i}' )

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [84]:
for i in range(1,10):
    print('3 * {} = {}'.format(i,3*i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [85]:
# while
# 중첩 반복문
# continue, break
# enumerate

# while 반복문

In [ ]:
# 조건식이 참인 동안에 계속 반복을 한다.
while 조건식:
    반복할 문장

In [88]:
n = 1
while n <= 5:
    print('mecha')
    n += 1

mecha
mecha
mecha
mecha
mecha

In [90]:
n = 5
while n > 0:
    print('mecha')
    n -= 1

mecha
mecha
mecha
mecha
mecha

In [97]:
# 입력 받은 횟수 만큼 '메카'를 출력한다.
i = 1
num = int(input('반복 횟수: '))
while i <= num:
    print('메카')
    i += 1

반복 횟수: 5
메카
메카
메카
메카
메카

In [95]:
# 입력 받은 횟수 만큼 '메카'를 출력한다.
num = int(input('n : '))

n = 1
while n <= num :
    print('메카')
    n += 1

n : 5
메카
메카
메카
메카
메카

In [98]:
# 입력 받은 횟수 만큼 '메카'를 출력한다.
num = int(input('n: '))
for n in range(num):
    print('메카')

n: 5
메카
메카
메카
메카
메카

In [101]:
# while  반복문을 이용하여 구구단 중 3단을 출력해보자.
n = 1
while n <= 9:
    print(f'3 * {n} = {3*n}')
    n += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [102]:
# 사용자로 부터 y를 입력 받기 전까지 계쏙해서 파이썬 최고! 출력하자.
con = 0
while con != 'y':
    print('파이썬 최고!')
    con = input('종료하려면 y')
print('종료')

파이썬 최고!
종료하려면 y1
파이썬 최고!
종료하려면 y1
파이썬 최고!
종료하려면 y2
파이썬 최고!
종료하려면 y3
파이썬 최고!
종료하려면 yㄷ
파이썬 최고!
종료하려면 yㄹ
파이썬 최고!
종료하려면 yㅎ
파이썬 최고!
종료하려면 yy
종료