3*4

In [15]:
#주석은 프로그램에 영향을 전혀 주지않음.
print('*' *20) #문자표시는 소따옴표를 사용
print('서원우' *2)
print('*' *20)

********************
서원우서원우
********************

In [ ]:
#모드- 에드트 모드, 컨트롤 모드
#에디트 모드 - 프로그램 작성 편집모드라고 한다.
#컨트롤 모드 - 셀간 이동이나 단축키 적용을 위한, 제어모드
#단축키 - 
# b: 아래에 빈셀을 추가
# a: 위에 빈셀을 추가
# c: 셀 복사
# v: 셀 붙여넣기
# dd: 셀 삭제
# x: 셀 삭제
# z: 되돌리기
# m: 마크다운 모드
# y: 코드 모드
# ctrl + enter: 그냥실행
# shift + enter: 아레셀로 이동(셀이없을경우 생성)
# alt + enter: 아레셀 추가 및 이동

In [ ]:
# Code - 코드 편집(작성)을 위한 모드
# Markdown - 문서 편집을 위한 모드

# 동해물과 백두산이
## 마르고 닳도록
### 하느님이 보우하사 우리나라 만세
#### 무궁화 삼천리 화려강산 
##### 대한사람 대한으로 길이 보전하세.
- 과대 : 이충민
- 총무 : 박재영
1. 김규민 - 2002
2. 김규민 - 2005  
메카트로닉스과  
화이팅

# 2장 - 변수와 연산자

In [25]:
'서원우'*5

'서원우서원우서원우서원우서원우'

In [ ]:
# 파이썬의 기본 자료형
# 4가지 : int, float, bool, str.
n = 10 # 정수 ( 양, 0, 음), integer
n = 서원우 # 문자 (문자열) '', 이때 "" 상관없다. str
n = 3.14 # 실수 (부동소수점) float
n = False # 불형 (True / False), bool
# 리스트, 딕셔너리 , 튜플, set.

In [27]:
x = 3.14
print (x)

3.14

In [3]:
name = '서원우'
age = 24
sex = 'man'
town = '남해'

print ('이름',':',name,',', '나이',':',age)

이름 : 서원우 , 나이 : 24

In [ ]:
a = 1
num = 1
num1 = 100
num2 = 90
num3 = 80

In [ ]:
# 변수 이름(변수명)을 정하는 규칙
# 1. 변수에 할당되는 데이터의 의미에 맞도록 만들자.
# 2. 변수명을 만들때, 영어, 숫자, 특수문자 사용가능
# 3. 변수의 맨 앞에는 숫자가 올 수 없다. (num3 (o), 3num (x) )
# 4. 특수문자는 오로지 _(언더바)만 사용이 가능하다.
# !@#$%^ (x) _ (o)
# 5. 대소문자가 구별된다.
# 6. 띄어쓰기는 허용하지 않는다. (manage) (x), (man_age) (o)
        man_age, manAge, ManAge
# 7. 예약어는 사용할 수 없다. 
# print, for, if, while, else, def, False, True, int

In [37]:
name = '서원우'
age = 24
print (name,    age)

서원우 24

In [ ]:
# type() : 변수의 타입을 확인할 때 사용.

In [42]:
name = '서원우'
age = 24
sex = 'man'
town = '남해'
pi = 3.14
con = False
print ('이름',':',name,',', '나이',':',age)

type(con)

이름 : 서원우 , 나이 : 24

bool

In [7]:
# 연산자 (operator)
# 대입(할당)연산자

# num = num+4 (복합할당연산자)
# num = num +1 <=> num += 1
# num = num -2 <=> num -= 2
# num = num *3 <=> num *= 3
# num = num /4 <=> num /= 4

num = 3
print(9 / num) #  // 연산의 경우 항상 실수형으로 표시

# 산술연산자(숫자의 계산)
# +, -, *, /, %(나머지), //(몫), **(지수)

print(5//3) #// 몫 1
print(5%3) # % 나머지 2
print(15%3)
print(2**16) #2**16 =65536, 2**10 =1024, 2**8 =256
print(2**(1/2))
# 비교연산자

# 논리연산자

3.0
1
2
0
65536
1.4142135623730951

In [44]:
age = 24
age += 1
print (age)

25

In [2]:
# 문제: 10,000원 내면, 150 사탕을 몇개 사고,
#        또, 잔돈은 얼마가 남는가?
money = 10000
candy = 150
# 몫
num = money // candy
# 나머지
change = money % candy
print ("사탕은", num,"개 살 수 있고 ", change, "원이 남는다")

사탕은 66 개 살 수 있고  100 원이 남는다

In [4]:
#03-24

In [6]:
# 1000원짜리 지폐를 500원으로, 100원짜리 동전으로 교환
money = 1000
won_500 = money//500
won_100 = money//100
won_50 = money//50
print('500원', won_500, '개')
print('100원', won_100, '개')
print('50원', won_50, '개')

500원 2 개
100원 10 개
50원 20 개

In [8]:
# 구입 가능한 사탕의 수
money = 10000
candy = 150
# 사탕을 몇개 살 수 있고, 잔돈은 얼마인가?
candy_num = money // candy
change = money%candy
print('구매가능한 수:', candy_num, '개')
print('잔돈:', change, '원')

구매가능한 수: 66 개
잔돈: 100 원

In [14]:
n1 = 10

In [16]:
n1 += 1
n1

12

비교 연산자

In [20]:
# >
# <
# == (같다)
# >=
# <=
# != (같지않다)
# 6개의 연산자가 사용되고,
#연산의 결과는 참(True)과 거짓(false)으로 반환한다.

In [19]:
5 > 3

True

### 논리연산자

In [27]:
# 논리연산의 결과는 True 또는 False으로 나온다.
# and ex) 비교연산식 and 비교연산식  (5 > 3) and (7 > 2)
# or      비교연산식 or 비교연산식   (5 > 3) or (7 > 2)
# not     not 비교연산식    not 5 > 3

# and
# True and True -> True
# True and False -> False
# False and False -> False
# False and True -> False

# or
# True or True -> True
# True or False -> True
# False or False -> False
# False or True -> True

# not
# not True -> False
# not False -> True

In [28]:
not 5 > 3

False

# 문자열 연산자

In [41]:
' 이충민 ' + ' 과대 ' +'30세'

' 이충민  과대 30세'

In [42]:
' 이충민 ' *2

' 이충민  이충민 '

In [50]:
money1 = 2900  # 투입한 돈
price = 1000   # 물건 값

change1 = money1 % price  # 잔돈
print('잔돈: ', change1 , '원')

won_1 = change1 // 500
won_2 = change1 % 500
won_3 = won_2 // 100
print('500원:', won_1, '개')
print('100원:', won_3, '개')

잔돈:  900 원
500원: 1 개
100원: 4 개

In [58]:
# 세 과목에 대한 성적을 각각 변수에 저장한 후 합계와 평균을 출력
kor,eng,math=100,75,80

kor,eng,math
sum = kor+eng+math
avg = sum/3 
print('합은:',sum, ' 평균은:', avg)

합은: 255  평균은: 85.0

In [60]:
# 학년이 1학년이고, 평균 취득 학점이 4.5 이상을 만족하는 조건식
# year == 1 and score >= 4.5

In [ ]:
addr == '서울' or addr == '경기도'
toeic >= 800 or com =='A학점'

In [66]:
n = 384
# d100 = n // 100
# n = n % 100 
# d10 = n // 10
# n = n % 10
# d1 = n // 1
# n = n % 1

d100 = n //100
d10 = (n % 100) // 10
d1 = n % 10
print(d100, d10, d1)

3 8 4

In [74]:
time = 3750
minute = time // 60
second = time % 60

hour = minute // 60
minute = minute % 60
print(hour, 'h', minute,'m', second,'s')

1 h 2 m 30 s

In [105]:
time = 3700
hour = time // (60 * 60)
minute = time % (60*60) // 60
second = time % 60
second
print(hour,minute,second)

TypeError: 'str' object is not callable

In [84]:
ame = 2000
cafelatee = 3000
cafemoca = 4000
total = (ame*20) +(cafelatee*10)+(cafemoca*10)
mat_price = 100000
profit= total - mat_price
print('총 매출액:',total, '원')
print('순이익:',profit, '원')

총 매출액: 110000 원
순이익: 10000 원

### 3장 입력과 출력

In [104]:
print('당신의 이름은 무엇입니까?')
neme = input()
print('이름:',name)

TypeError: 'str' object is not callable

In [88]:
print('당신의 혈액형은 무엇입니까?')
b_type = input()
print(b_type)

당신의 혈액형은 무엇입니까?
ab
ab

In [89]:
name = input('당신의 이름은 무엇입니까?')
print =(name*3)

당신의 이름은 무엇입니까?서원우

In [3]:
age = input('당신은 몇살 입니까?')
print(age*2)
#input()을 통해 입력받은 데이터는 무조건 문자로 저장된다.

당신은 몇살 입니까?20
2020

In [2]:
n1 = input('첫번째 수를 입력하시오')
n2 = input('두번째 수를 입력하시오')
print('두 수의 합은', int(n1)+int(n2))

첫번째 수를 입력하시오10
두번째 수를 입력하시오20
두 수의 합은 30

In [6]:
n1 = int(input('첫번째 수를 입력하시오'))
n2 = int(input('두번째 수를 입력하시오'))
print('두 수의 합은',n1+n2)

첫번째 수를 입력하시오10
두번째 수를 입력하시오20
두 수의 합은 30

In [1]:
#'박재영은 25세이다'
print('박재영은',25,'세이다')
print('박재영은'+str(25)+'세이다')

박재영은 25 세이다
박재영은25세이다

In [7]:
c=float(input())

3.4

In [10]:
name =  input('이름 입력: ')
print("당신의 이름은 "+ name+ '입니다')
print("당신의 이름은 ", name, '입니다')

이름 입력: 서원우
당신의 이름은 서원우입니다
당신의 이름은  서원우 입니다

In [14]:
name =  input('이름 입력: ')
que = input("당신의 이름은 "+ name+ '입니다')
if que == 'y' or que == 'y' or que == 'yes' or que == 'yes':
    print("안녕하세요 "+name+'님')
else :
    print("이름을 다시 입력하세요")

이름 입력: 서원우
당신의 이름은 서원우입니다yes
안녕하세요 서원우님

In [17]:
#format 연산자
print("{} + {} = {}".format(5,10,5+10))

5 + 10 = 15

In [20]:
print("{}는  {}세이고, 혈액형은 {}이다.".format('서원우',24,'ab'))

서원우는  24세이고, 혈액형은 ab이다.

In [2]:
name = input('당신의 이름은 :')

당신의 이름은 :서원우

In [3]:
print(name)

서원우

In [6]:
num1 = int(input('첫 번째 수를 입력하시오'))
num1

첫 번째 수를 입력하시오3

3

In [7]:
name = input('당신의 이름은 :')
age = input('당신의 나이는 :')
b_t = input('당신의 혈액형은 :')

당신의 이름은 :서원우
당신의 나이는 :24
당신의 혈액형은 :AB

#  출력형태
1. ',' 출력
2. %형식지정자
3. .format 형식
4. f-string 형식

In [10]:
# 1. ',' 출력
# 당신의 이름은 이충민이고, 나이는 30세, 혈액형은 O형이다.
print('당신의 이름은',name+'이고', '나이는', age+'세','혈액형은',b_t+'형 이다.' )

당신의 이름은 서원우이고 나이는 24세 혈액형은 AB형 이다.

In [12]:
# 1. ',' 출력
# 당신의 이름은 이충민이고, 나이는 30세, 혈액형은 O형이다.
print('당신의 이름은 %s이고 나이는 %s세 혈액형은 %s형 이다.' %(name,age,b_t))

당신의 이름은 서원우이고 나이는 24세 혈액형은 AB형 이다.

# .fomat

In [13]:
print('당신의 이름은 {}이고 나이는 {}세 혈액형은 {}형 이다.' .format(name,age,b_t))

당신의 이름은 서원우이고 나이는 24세 혈액형은 AB형 이다.

In [15]:
print('{} {} {} 노래를 한다.' .format('개굴','개굴','개구리'))

개굴 개굴 개구리 노래를 한다.

In [16]:
print('{1} {2} {0} 노래를 한다.' .format('개구리','개굴','개굴'))

개굴 개굴 개구리 노래를 한다.

In [17]:
print('{1} {1} {0} 노래를 한다.' .format('개구리','개굴'))

개굴 개굴 개구리 노래를 한다.

# f-string

In [25]:
print('{}의 나이는{}세 이고, 혈액형은{}형이다.' .format(name,age,b_t))

서원우의 나이는24세 이고, 혈액형은AB형이다.

In [19]:
print(f '{'개굴'} {'개굴'} {'개구리'} 노래를 한다.')

SyntaxError: invalid syntax (<ipython-input-19-7cf18f205ea8>, line 1)

In [27]:
print(f'{name}의 나이는{age}세이고, 혈액형은{b_t}형이다')

서원우의 나이는24세이고, 혈액형은AB형이다

In [28]:
print(1, '+', 2, '=', 1+2)

1 + 2 = 3

In [29]:
print('%d + %d = %d'%(1,2,1+2))

1 + 2 = 3

In [31]:
print('{} + {} = {}' .format(1,2,1+2))

1 + 2 = 3

In [30]:
print(f'{1}+{2}={1+2}')

1+2=3

In [47]:
pi = 3.141592
"원주율은 3.14이다."
print('원주율은 {:.2f}이다.' .format(pi))

원주율은 3.14이다.

In [50]:
print(f'원주율은 {pi:.2f}이다.')

원주율은 3.14이다.

In [34]:
hakbun = input('학번 입력:')
name = input('이름 입력:')
print('학번은',hakbun,'이고, 이름은',name,'입니다.')

학번 입력:2517110136
이름 입력:서원우
학번은 2517110136 이고, 이름은 서원우 입니다.

In [39]:
radius = int(input('반지름 입력:'))
area = 3.14 * radius * radius
print('원의 넓이는 %.2f 입니다.' %area)

반지름 입력:5
원의 넓이는 78.50 입니다.

In [58]:
# f-string
total = int(input('시간의 전체 초 입력: '))
minute = total // 60
sec = total %60
print(f'{total}은, {minute}분, {sec}초 ') # f-string
print(total,'초:',minute,'분',sec,'초')   # 콤마
print('{}초: {}분 {}초' .format(total,minute,sec)) # .format

시간의 전체 초 입력: 3700
3700은, 61분, 40초
3700 초: 61 분 40 초
3700초: 61분 40초

In [67]:
name = input('이름 입력:')
year = int(input('출생년도 입력:'))
age = 2025 - year +1
print(f'{name}님의 한국 나이는 {age}살.')
print('{}님의 한국 나이는 {}살.' .format(name,age))
print(name,'님의 한국 나이는',age,'살.')
print(name+'님의 한국 나이는',str(age) + '살.')

이름 입력:서원우
출생년도 입력:2002
서원우님의 한국 나이는 24살.
서원우님의 한국 나이는 24살.
서원우 님의 한국 나이는 24 살.
서원우님의 한국 나이는 24살.

In [76]:
base = float(input('밑변의 길이:'))
height = float(input('높이의 길이:'))
area = base * height / 2
print(f'밑변 {base:.2f}, 높이 {height:.2f} 인 삼각형의 넓이: {area:.2f}')

밑변의 길이:3.5
높이의 길이:9.7
밑변 3.50, 높이 9.70 인 삼각형의 넓이: 16.97

In [82]:
base = float(input('밑변의 길이:'))
height = float(input('높이의 길이:'))
area = base * height / 2
print('밑변',base, '높이',height, '인 삼각형의 넓이:',area:.2f)
# 콤마로는 실수를 표현할 수 없다.

SyntaxError: invalid syntax (<ipython-input-82-e830203bfeea>, line 4)

In [8]:
height = float(input('키 입력:'))
weight = (height - 100)*0.9
print(f'키 {height:.0f}cm 의 표준 체중은 {weight:.0f}kg 입니다.')
print('키 %d cm 의 표준 체중은 %d kg 입니다.' %(height,weight))

print('키 {}cm 의 표준 체중은 {}kg 입니다.' .format(int(height),int(weight)))
print('키 {:.0f}cm 의 표준 체중은 {:.0f}kg 입니다.' .format(height,weight))
print('키 {}cm 의 표준 체중은 {}kg 입니다.' .format(height,weight))

키 입력:180
키 180cm 의 표준 체중은 72kg 입니다.
키 180 cm 의 표준 체중은 72 kg 입니다.
키 180cm 의 표준 체중은 72kg 입니다.
키 180cm 의 표준 체중은 72kg 입니다.
키 180.0cm 의 표준 체중은 72.0kg 입니다.

In [9]:
print('키 {}cm 의 표준 체중은 {}kg 입니다.' .format(int(18.8),int(18.8)))
print('키 {:.0f}cm 의 표준 체중은 {:.0f}kg 입니다.' .format(18.8,18.8))
# int로 형을 변환하게 되면, 소숫점을 버림 처리한다.
# 보통은 반올림함

키 18cm 의 표준 체중은 18kg 입니다.
키 19cm 의 표준 체중은 19kg 입니다.

In [15]:
kor = int(input('국어점수'))
eng = int(input('영어점수'))
met = int(input('수학점수'))
sum1 = kor + eng + met 
avg = sum1 / 3
print(f'국어:{kor}점, 영어:{eng}점, 수학:{met}점 => 총점:{sum1:.2f}, 평균:{avg:.2f}')

국어점수86
영어점수82
수학점수97
국어:86점, 영어:82점, 수학:97점 => 총점:265.00, 평균:88.33

# 4장. 기본 자료형

In [6]:
# 다음주 - 리스트, 튜플, 딕셔너리, 집합
# 기본 자료형 - int, str, float, bool
# type(3.14)
# 문자의 인덱싱과 슬라이싱
num1 = input('첫번째 수를 입력하시오')
num2 = input('두번째 수를 입력하시오')
int(num1) + int(num2)

첫번째 수를 입력하시오2
두번째 수를 입력하시오4

6

In [8]:
num1 = int(input('첫번째 수를 입력하시오'))
num2 = int(input('두번째 수를 입력하시오'))
num1 + num2

첫번째 수를 입력하시오2
두번째 수를 입력하시오5

7

In [11]:
num1 = float(input('첫번째 수를 입력하시오'))
print (type(num1), num1)

첫번째 수를 입력하시오3.25
<class 'float'> 3.25

In [12]:
4/2 # 항상 실수

2.0

In [13]:
 3 + 3.0

6.0

In [14]:
int(3.94)

3

In [15]:
3 * 3.0

9.0

In [19]:
name = '이충민박재영'
len(name)

6

In [18]:
s = 'wfwdfdfgdfgdlkfgjdsl;kfgd'
len(s)

25

In [22]:
# 문자는 문자와 결합(덧셈)된다
s1 ='이충민'+'박재영'+' '
len(s1)

7

In [23]:
# 문자는 곱셈도 된다.
s1 *2

'이충민박재영 이충민박재영 '

In [25]:
# 인덱싱 - indexing - 인덱스 번호로 데이터를 추출하는 행위
s1[1]
s1[0] + s1[1] + s1[2]

'이충민'

In [26]:
s1[6]

' '

In [46]:
s2 = 'mechatronics fighting!!!?'
len(s2)
s2[len(s2)-1]

'?'

In [35]:
s2[24]

'?'

In [36]:
s2[-1]

'?'

In [37]:
s2[-2]

'!'

In [43]:
#슬라이싱 - ~부터 ~ 까지 잘라내는 행위
s2[0:4] # 시작 인덱스 번호는 포함하고, 끝 인덱스 범위는 포함하지 않는다

'mach'

In [47]:
s2[0:12]

'mechatronics'

In [48]:
s2[:12]

'mechatronics'

In [50]:
s2[:-1]

'mechatronics fighting!!!'

In [52]:
s2[:]

'mechatronics fighting!!!?'

In [53]:
s2[:-5]

'mechatronics fightin'

In [63]:
s2[0:5:4] #[시작:끝:스텝]

'ma'

In [68]:
s2[::2]

'mcarnc ihig!?'

In [72]:
name = 'hong gilding'
family_name= name[:4]
print(family_name)

hong

In [74]:
pencil=int(input('연필개수:'))
pen=int(input('펜 개수:'))
total_price=pencil*400+pen*800
print(total_price)

연필개수:4
펜 개수:5
5600

In [1]:
A=int(input('A과목:'))
B=int(input('B과목:'))
C=int(input('C과목:'))
total= A+B+C
avg= total/3

print(f'평균:{avg}')
print('평균:',avg)
print('평균:{}'.format(avg))
print('평균:%d'%(avg))


print(f'총합:{total}')

A과목:90
B과목:80
C과목:70
평균:80.0
평균: 80.0
평균:80.0
평균:80
총합:240

In [4]:
music=int(input('구입 음악 개수 :'))
total = music*400
sale = total*0.3
price = total-price
print(f'총 가격:{total}원')
print(f'할인금액 : {sale:.0f}원')
print(f'총 구입 가격: {price:.0f}원')

구입 음악 개수 :9
총 가격:3600원
할인금액 : 1080원
총 구입 가격: 2520원

In [11]:
name = input('이름 :')
phone = input('연락처 :')
print(name, phone[:3]+phone[4:8]+phone[9:])

이름 :서원우
연락처 :010-5347-3227
서원우 01053473227

# 5장, 컬렉션 자료형(collection type)
### 리스트, 튜플, 딕셔너리. 집합(set)

In [16]:
# 리스트 (중요)
a = [1,2,3,4,5]
type(a)

list

In [57]:
a = 1,2,3
type(a)

tuple

In [17]:
sum(a)

15

In [18]:
max(a)

5

In [19]:
min(a)

1

In [20]:
# 리스트를 사용하는 이유
n1 = 10
n2 = 20
n3 = 30
n4 = 40
n5 = 50
total = n1 + n2 + n3 + n4 + n5
avg = total / 5
print('합계:', total, '평균:', avg)

합계: 150 평균: 30.0

In [21]:
n = [10,20,30,40,50]
total = n[0]+n[1]+n[2]+n[3]+n[4]
avg = total / 5
print('합계:', total, '평균:', avg)

합계: 150 평균: 30.0

In [25]:
n[::2]

[10, 30, 50]

In [30]:
n = [10,20,'박재영','이충민','1B',[10,20]]

In [31]:
n[-1]

[10, 20]

In [33]:
n[-1][1]

20

In [35]:
n[-1] = '담요'
n

[10, 20, '박재영', '이충민', '1B', '담요']

In [36]:
len(n)

6

In [39]:
n[2][2]

'영'

In [41]:
n[0]+n[1]

30

In [42]:
n[3]+n[-1]

'이충민담요'

In [44]:
#리스트의 메서드(method) (기능(function:함수, 메서드))
#append - 붙이다. #appendix 첨부.
#count
#copy
#clear
#insert
#index
#pop
#remove
#reverse
#sort
n.append('메카')

In [46]:
n.append([30,40])
n

[10, 20, '박재영', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40]]

In [48]:
n.append('메카')
n

[10, 20, '박재영', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [50]:
n.count('메카')

4

In [52]:
n1 = n
n

[10, 20, '박재영', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [51]:
n1 = n.copy()
n1

[10, 20, '박재영', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [53]:
n1 = n #얕은 복사  -> 원본과 사본을 합침
n1[2] = 'park'
n1

[10, 20, 'park', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [54]:
n

[10, 20, 'park', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [55]:
n2 = n.copy() # 깊은 복사   -> 원본과 사본을 분리하기위함
n2[2] = '박재영'
n2

[10, 20, '박재영', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']

In [56]:
n

[10, 20, 'park', '이충민', '1B', '담요', '메카', '메카', [30, 40], [30, 40], '메카', '메카']